{% extends 'base.html' %} {%block title%}Оставить заявку на звонок{%endblock%}
{%block nav_links%} {%for cat in cats%}
<p class="block__item">
    <a href='/category/{{cat.id}}' class="block__link main-text">{{cat.title}}</a>
</p>
{%endfor%} {%endblock nav_links%}
{% block content %}
    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" class="little-button-cart subtitle">Оставить заявку</button>
    </form>
{% endblock %}