{% extends 'base.html' %} {%block title%}Каталог{%endblock%}
{%block nav_links%} {%for cat in cats%}
<p class="block__item">
    <a href='/category/{{cat.id}}' class="block__link main-text">{{cat.title}}</a>
</p>
{%endfor%} {%endblock nav_links%}
{% block content%}
{%for product in products%}
<div style="display: flex; justify-content: center; align-items: center; min-height: 100px; flex-direction: column;">
    <h1><a href="/products/{{product.id}}">{{product.title}}</a></h1>
    <p>{{product.description}}</p>
    <p>{{product.price}} P</p>
    <p>{{product.article}}</p>
    <img width="400px"  src="/media/{{product.image}}" alt="{{product.title}}">
    <form action="/basket/add/{{product.id}}" method="POST">
        {%csrf_token%}
        <button class="little-button-cart subtitle">
            В корзину
        </button>
    </form>
</div>
{%endfor%}
{% endblock %}
