{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Gadgetarium. {% block title %}{% endblock %}</title>
        <link href="{% static "css/style.css" %}" rel="stylesheet">
    </head>
    <body>
        <header class="header">
            <div class="header__section">
                <article class="header__navbar navbar wrapper">
                    <h2 class="visually-hidden">О нас</h2>

                    <!-- 1200 - БЕСКОНЕЧНОСТЬ -->

                    <div class="navbar__block block menu">
                        {%block nav_links%}
                        {%endblock%}
                        <a href='/#categories' class="block__item block__dots buttons-text">Другие категории</a>
                    </div>
                    <div class="navbar__block block logo">
                        <a href="/">
                            <svg
                                width="170"
                                height="36"
                                viewBox="0 0 170 36"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M0.685547 19.7518C0.685547 19.0916 0.779492 18.4848 0.967383 17.9312C1.15527 17.3777 1.4168 16.8801 1.75195 16.4383C2.08711 15.9965 2.48574 15.6105 2.94785 15.2805C3.41504 14.9504 3.92539 14.6736 4.47891 14.4502C5.0375 14.2268 5.6291 14.0617 6.25371 13.9551C6.87832 13.8434 7.5207 13.7875 8.18086 13.7875C8.57695 13.7875 8.97305 13.8129 9.36914 13.8637C9.77031 13.9145 10.1588 13.9855 10.5346 14.077C10.9104 14.1684 11.2684 14.2775 11.6086 14.4045C11.9539 14.5314 12.2713 14.6711 12.5607 14.8234L13.1396 14.077H14.8459V17.7941H12.9111C12.6979 17.4133 12.4389 17.0756 12.1342 16.7811C11.8346 16.4865 11.502 16.2377 11.1363 16.0346C10.7758 15.8314 10.3898 15.6791 9.97852 15.5775C9.57227 15.4709 9.15332 15.4176 8.72168 15.4176C8.24941 15.4176 7.8 15.4988 7.37344 15.6613C6.94688 15.8238 6.57363 16.0727 6.25371 16.4078C5.93379 16.743 5.67988 17.1695 5.49199 17.6875C5.3041 18.2004 5.21016 18.8098 5.21016 19.5156C5.21016 20.191 5.31172 20.7877 5.51484 21.3057C5.72305 21.8186 5.9998 22.2502 6.34512 22.6006C6.69043 22.9459 7.0916 23.2074 7.54863 23.3852C8.01074 23.5629 8.4957 23.6518 9.00352 23.6518C9.45039 23.6518 9.83633 23.6213 10.1613 23.5604C10.4863 23.4943 10.7809 23.3801 11.0449 23.2176V21.3133L8.82832 19.1805H14.9449V25H13.1396L12.7207 24.2383C12.4211 24.4312 12.1012 24.5963 11.7609 24.7334C11.4207 24.8654 11.0652 24.9721 10.6945 25.0533C10.3238 25.1396 9.94297 25.2006 9.55195 25.2361C9.16094 25.2768 8.76484 25.2971 8.36367 25.2971C7.67813 25.2971 7.01035 25.2564 6.36035 25.1752C5.71543 25.0939 5.10859 24.9645 4.53984 24.7867C3.97109 24.6039 3.45059 24.3703 2.97832 24.0859C2.50605 23.7965 2.0998 23.4486 1.75957 23.0424C1.41934 22.6311 1.15527 22.1537 0.967383 21.6104C0.779492 21.067 0.685547 20.4475 0.685547 19.7518ZM18.1898 23.0881L21.7775 15.9432L20.1398 14.077H29.0672L27.6885 16.0117L30.9029 23.0729L32.9063 25H24.9082L26.5688 23.0881L26.2412 22.2883H21.2139L20.8559 23.0881L23.042 25H15.9504L18.1898 23.0881ZM25.6014 20.6963L23.857 16.4002L21.9299 20.6963H25.6014ZM35.199 23.0652V16.0117L32.8377 14.077C33.2287 14.0719 33.6756 14.0693 34.1783 14.0693C34.6811 14.0643 35.2041 14.0592 35.7475 14.0541C36.2959 14.049 36.8469 14.0465 37.4004 14.0465C37.959 14.0414 38.4846 14.0389 38.9771 14.0389C39.4697 14.0338 39.9141 14.0312 40.3102 14.0312C40.7063 14.0262 41.0186 14.0236 41.2471 14.0236C42.1408 14.0236 42.9457 14.0693 43.6617 14.1607C44.3777 14.2521 45.0074 14.407 45.5508 14.6254C46.0332 14.8184 46.4496 15.0697 46.8 15.3795C47.1504 15.6842 47.4373 16.032 47.6607 16.423C47.8893 16.8141 48.0568 17.2406 48.1635 17.7027C48.2701 18.1648 48.3234 18.6498 48.3234 19.1576C48.3234 20.0971 48.1457 20.9324 47.7902 21.6637C47.4398 22.3949 46.9396 23.0119 46.2896 23.5146C45.6447 24.0174 44.8678 24.4008 43.9588 24.6648C43.0549 24.9238 42.0494 25.0533 40.9424 25.0533C40.7951 25.0533 40.5539 25.0533 40.2188 25.0533C39.8887 25.0533 39.4977 25.0508 39.0457 25.0457C38.5988 25.0457 38.1088 25.0432 37.5756 25.0381C37.0424 25.033 36.499 25.0279 35.9455 25.0229C35.392 25.0229 34.8461 25.0203 34.3078 25.0152C33.7746 25.0102 33.282 25.0051 32.8301 25L35.199 23.0652ZM40.7063 23.408C41.3359 23.408 41.8615 23.3064 42.283 23.1033C42.7045 22.9002 43.0422 22.6158 43.2961 22.2502C43.55 21.8795 43.7303 21.4402 43.8369 20.9324C43.9436 20.4195 43.9969 19.8533 43.9969 19.2338C43.9969 18.665 43.9258 18.1598 43.7836 17.718C43.6414 17.2762 43.4357 16.9029 43.1666 16.5982C42.8975 16.2936 42.5674 16.0625 42.1764 15.9051C41.7904 15.7477 41.3512 15.6689 40.8586 15.6689H39.2133V23.408H40.7063ZM49.6945 19.7518C49.6945 19.0916 49.7885 18.4848 49.9764 17.9312C50.1643 17.3777 50.4258 16.8801 50.7609 16.4383C51.0961 15.9965 51.4947 15.6105 51.9568 15.2805C52.424 14.9504 52.9344 14.6736 53.4879 14.4502C54.0465 14.2268 54.6381 14.0617 55.2627 13.9551C55.8873 13.8434 56.5297 13.7875 57.1898 13.7875C57.5859 13.7875 57.982 13.8129 58.3781 13.8637C58.7793 13.9145 59.1678 13.9855 59.5436 14.077C59.9193 14.1684 60.2773 14.2775 60.6176 14.4045C60.9629 14.5314 61.2803 14.6711 61.5697 14.8234L62.1486 14.077H63.8549V17.7941H61.9201C61.7068 17.4133 61.4479 17.0756 61.1432 16.7811C60.8436 16.4865 60.5109 16.2377 60.1453 16.0346C59.7848 15.8314 59.3988 15.6791 58.9875 15.5775C58.5813 15.4709 58.1623 15.4176 57.7307 15.4176C57.2584 15.4176 56.809 15.4988 56.3824 15.6613C55.9559 15.8238 55.5826 16.0727 55.2627 16.4078C54.9428 16.743 54.6889 17.1695 54.501 17.6875C54.3131 18.2004 54.2191 18.8098 54.2191 19.5156C54.2191 20.191 54.3207 20.7877 54.5238 21.3057C54.732 21.8186 55.0088 22.2502 55.3541 22.6006C55.6994 22.9459 56.1006 23.2074 56.5576 23.3852C57.0197 23.5629 57.5047 23.6518 58.0125 23.6518C58.4594 23.6518 58.8453 23.6213 59.1703 23.5604C59.4953 23.4943 59.7898 23.3801 60.0539 23.2176V21.3133L57.8373 19.1805H63.9539V25H62.1486L61.7297 24.2383C61.4301 24.4312 61.1102 24.5963 60.7699 24.7334C60.4297 24.8654 60.0742 24.9721 59.7035 25.0533C59.3328 25.1396 58.952 25.2006 58.5609 25.2361C58.1699 25.2768 57.7738 25.2971 57.3727 25.2971C56.6871 25.2971 56.0193 25.2564 55.3693 25.1752C54.7244 25.0939 54.1176 24.9645 53.5488 24.7867C52.9801 24.6039 52.4596 24.3703 51.9873 24.0859C51.515 23.7965 51.1088 23.4486 50.7686 23.0424C50.4283 22.6311 50.1643 22.1537 49.9764 21.6104C49.7885 21.067 49.6945 20.4475 49.6945 19.7518ZM67.7854 23.0652V16.0117L65.6449 14.077H79.4854L79.333 17.8551L76.2938 15.8213H71.7996V18.3426H76.3852V20.0184H71.7996V23.2557H76.2938L79.4092 21.3971V25H65.6449L67.7854 23.0652ZM85.4191 23.0729V15.6004H83.8881L81.0088 18.7996L80.8488 14.077H85.3811L85.4191 14.1074V14.077H94.0266L93.8666 18.7996L90.9111 15.6004H89.4334V23.0729L92.1299 25H82.8141L85.4191 23.0729ZM96.2203 23.0881L99.808 15.9432L98.1703 14.077H107.098L105.719 16.0117L108.933 23.0729L110.937 25H102.939L104.599 23.0881L104.272 22.2883H99.2443L98.8863 23.0881L101.072 25H93.9809L96.2203 23.0881ZM103.632 20.6963L101.888 16.4002L99.9604 20.6963H103.632ZM113.229 23.0652V16.0117L110.868 14.077C111.346 14.0719 111.841 14.0668 112.354 14.0617C112.866 14.0566 113.377 14.0541 113.885 14.0541C114.392 14.049 114.888 14.0439 115.37 14.0389C115.852 14.0338 116.304 14.0312 116.726 14.0312C117.152 14.0262 117.538 14.0236 117.884 14.0236C118.229 14.0236 118.516 14.0236 118.744 14.0236C119.227 14.0236 119.732 14.0338 120.26 14.0541C120.788 14.0744 121.306 14.1201 121.814 14.1912C122.327 14.2572 122.812 14.3588 123.269 14.4959C123.731 14.6279 124.135 14.8082 124.48 15.0367C124.83 15.2602 125.107 15.5395 125.31 15.8746C125.519 16.2047 125.623 16.6033 125.623 17.0705C125.623 17.426 125.559 17.7459 125.432 18.0303C125.305 18.3146 125.122 18.5686 124.884 18.792C124.65 19.0154 124.366 19.2109 124.031 19.3785C123.696 19.5461 123.322 19.6908 122.911 19.8127C123.231 19.8584 123.53 19.9676 123.81 20.1402C124.094 20.3078 124.34 20.5211 124.549 20.7801C124.757 21.0391 124.919 21.3387 125.036 21.6789C125.158 22.0191 125.219 22.3848 125.219 22.7758V23.2176L127.359 25H119.864L121.022 23.3775V22.4406C121.022 22.1766 120.984 21.9354 120.908 21.717C120.831 21.4936 120.727 21.3031 120.595 21.1457C120.463 20.9832 120.308 20.8588 120.131 20.7725C119.958 20.6811 119.775 20.6354 119.582 20.6354H117.244V23.0652L118.622 25H110.861L113.229 23.0652ZM118.356 19.1424C118.889 19.1424 119.354 19.1195 119.75 19.0738C120.146 19.0281 120.473 18.9418 120.732 18.8148C120.996 18.6879 121.192 18.5127 121.319 18.2893C121.446 18.0658 121.509 17.7789 121.509 17.4285C121.509 17.1594 121.464 16.9283 121.372 16.7354C121.281 16.5424 121.156 16.3824 120.999 16.2555C120.842 16.1234 120.656 16.0193 120.443 15.9432C120.235 15.8619 120.014 15.8035 119.78 15.768C119.547 15.7273 119.308 15.702 119.064 15.6918C118.821 15.6766 118.584 15.6689 118.356 15.6689H117.244V19.1424H118.356ZM129.507 16.0117L127.74 14.077H133.446V23.0652L135.213 25H129.507V16.0117ZM137.894 16.0041L135.754 14.077H143.767L141.832 16.0041V19.4623C141.832 20.1936 141.885 20.8131 141.992 21.3209C142.104 21.8236 142.269 22.235 142.487 22.5549C142.705 22.8697 142.98 23.0982 143.31 23.2404C143.64 23.3775 144.026 23.4461 144.468 23.4461C144.737 23.4461 144.988 23.4258 145.222 23.3852C145.455 23.3395 145.669 23.2607 145.862 23.149C146.06 23.0373 146.232 22.885 146.38 22.692C146.532 22.499 146.659 22.2553 146.76 21.9607C146.867 21.6662 146.948 21.3133 147.004 20.902C147.06 20.4906 147.088 20.0107 147.088 19.4623V16.0117L145.427 14.077H151.194L149.244 16.0117V19.9193C149.244 20.6354 149.185 21.2676 149.068 21.816C148.952 22.3594 148.784 22.8316 148.566 23.2328C148.347 23.6289 148.081 23.959 147.766 24.223C147.451 24.4871 147.096 24.7004 146.699 24.8629C146.303 25.0203 145.872 25.132 145.405 25.198C144.937 25.2641 144.44 25.2971 143.912 25.2971C142.805 25.2971 141.868 25.1854 141.101 24.9619C140.334 24.7385 139.712 24.4033 139.235 23.9564C138.762 23.5045 138.42 22.9434 138.206 22.273C137.998 21.5977 137.894 20.8131 137.894 19.9193V16.0041ZM153.433 23.0729V16.2859L151.163 14.077H156.678L160.494 19.9574L163.929 14.077H169.787L167.411 15.9355V23.0652L169.627 25H161.416L163.549 23.0652V19.1271L160.273 25H159.169L155.505 19.1881V23.0729L157.798 25H151.445L153.433 23.0729Z"
                                    fill="white"
                                />
                                <line
                                    x1="4.37114e-08"
                                    y1="0.5"
                                    x2="170"
                                    y2="0.500015"
                                    stroke="white"
                                />
                                <line
                                    x1="4.37114e-08"
                                    y1="35.5"
                                    x2="170"
                                    y2="35.5"
                                    stroke="white"
                                />
                            </svg>
                        </a>
                    </div>
                    <div class="navbar__block block phone">
                        <p class="block__item">
                            <a
                                href="tel:+7(901)784-23-85"
                                class="block__link subtitle"
                                >+7 (901) 784-23-85</a
                            >
                        </p>
                        <button class="block__item phone-link mini-link">
                            <a href="/leave-callback/">
                                Заказать звонок
                            </a>
                        </button>
                        {% if user.is_authenticated %}
                        <p class="block__item">
                            <a href="/profile/" class="block__link main-text">
                            Привет, {{user.username}}
                            </a
                            >
                        </p>
                        <p class="block__item">
                            <a href="/logout/" class="block__link main-text"
                                >Выйти◥</a
                                >
                        </p>
                        {% else %}
                        <p class="block__item">
                            <a href="/register/" class="block__link main-text"
                                >Регистрация◥</a
                            >
                        </p>
                        <p class="block__item">
                            <a href="/login/" class="block__link main-text"
                                >Войти◥</a
                            >
                        </p>
                        {% endif %}
                        <a href="/basket/" class="block__item">
                            <svg
                                style="width: 25px"
                                class="icons"
                                width="25"
                                height="22"
                                viewBox="0 0 25 22"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M9.33816 17.6825C8.18495 17.6825 7.25 18.6169 7.25 19.7697C7.25 20.9234 8.18495 21.8579 9.33816 21.8579C10.4909 21.8579 11.4259 20.9234 11.4259 19.7697C11.4259 18.617 10.4909 17.6825 9.33816 17.6825Z"
                                    fill="white"
                                />
                                <path
                                    d="M18.451 17.6825C17.2973 17.6825 16.3628 18.6169 16.3628 19.7697C16.3628 20.9234 17.2973 21.8579 18.451 21.8579C19.6038 21.8579 20.5392 20.9234 20.5392 19.7697C20.5392 18.617 19.6038 17.6825 18.451 17.6825Z"
                                    fill="white"
                                />
                                <path
                                    d="M23.6959 6.23752L12.1299 6.23656C11.5516 6.23656 11.0828 6.70537 11.0828 7.28369C11.0828 7.86201 11.5516 8.33082 12.1299 8.33082L22.3629 8.33032L21.7137 10.5272L11.3098 10.5294C10.7734 10.5294 10.3384 10.9643 10.3384 11.5008C10.3384 12.0374 10.7734 12.4723 11.3098 12.4723L21.1387 12.4761L20.5284 14.5308H8.80374L8.02583 8.32941L7.28305 2.28798C7.2226 1.80994 6.87601 1.41743 6.40906 1.29833L1.46357 0.0367254C0.835692 -0.123549 0.196865 0.25569 0.0366919 0.883565C-0.123482 1.51144 0.255656 2.15032 0.883532 2.31044L5.05526 3.37468L6.6798 15.5664C6.6798 15.5664 6.73506 16.9886 8.02669 16.9886H20.9864C22.0723 16.9886 22.2822 15.8563 22.2822 15.8563L24.8507 8.22818C24.8507 8.22818 25.6122 6.23752 23.6959 6.23752Z"
                                    fill="white"
                                />
                            </svg>
                        </a>
                    </div>

                    <!-- 768 - 1200 -->
<!--
                    <div class="navbar__block block menu2">
                        <p class="block__item">
                            <a href="#" class="block__link main-text"
                                >Телефоны</a
                            >
                        </p>
                        <p class="block__item">
                            <a href="#" class="block__link main-text"
                                >Ноутбуки</a
                            >
                        </p>
                        <p class="block__item">
                            <a href="#" class="block__link main-text"
                                >Планшеты</a
                            >
                        </p>
                        <p class="block__item">
                            <a href="#" class="block__link main-text"
                                >Телевизоры</a
                            >
                        </p>
                        <p class="block__item">
                            <a href="#" class="block__link main-text">Дроны</a>
                        </p>
                        <svg
                            class="block__item burger-menu2"
                            width="30"
                            height="23"
                            viewBox="0 0 30 23"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <rect width="30" height="3" fill="white" />
                            <rect y="20" width="30" height="3" fill="white" />
                            <rect y="10" width="30" height="3" fill="white" />
                        </svg>
                    </div> -->

                    <!-- 550 - 768 -->
<!--
                    <div class="navbar__block block phone2">
                        <a href="#" class="block__item">
                            <svg
                                style="width: 25px"
                                class="icons"
                                width="25"
                                height="22"
                                viewBox="0 0 25 22"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M9.33816 17.6825C8.18495 17.6825 7.25 18.6169 7.25 19.7697C7.25 20.9234 8.18495 21.8579 9.33816 21.8579C10.4909 21.8579 11.4259 20.9234 11.4259 19.7697C11.4259 18.617 10.4909 17.6825 9.33816 17.6825Z"
                                    fill="white"
                                />
                                <path
                                    d="M18.451 17.6825C17.2973 17.6825 16.3628 18.6169 16.3628 19.7697C16.3628 20.9234 17.2973 21.8579 18.451 21.8579C19.6038 21.8579 20.5392 20.9234 20.5392 19.7697C20.5392 18.617 19.6038 17.6825 18.451 17.6825Z"
                                    fill="white"
                                />
                                <path
                                    d="M23.6959 6.23752L12.1299 6.23656C11.5516 6.23656 11.0828 6.70537 11.0828 7.28369C11.0828 7.86201 11.5516 8.33082 12.1299 8.33082L22.3629 8.33032L21.7137 10.5272L11.3098 10.5294C10.7734 10.5294 10.3384 10.9643 10.3384 11.5008C10.3384 12.0374 10.7734 12.4723 11.3098 12.4723L21.1387 12.4761L20.5284 14.5308H8.80374L8.02583 8.32941L7.28305 2.28798C7.2226 1.80994 6.87601 1.41743 6.40906 1.29833L1.46357 0.0367254C0.835692 -0.123549 0.196865 0.25569 0.0366919 0.883565C-0.123482 1.51144 0.255656 2.15032 0.883532 2.31044L5.05526 3.37468L6.6798 15.5664C6.6798 15.5664 6.73506 16.9886 8.02669 16.9886H20.9864C22.0723 16.9886 22.2822 15.8563 22.2822 15.8563L24.8507 8.22818C24.8507 8.22818 25.6122 6.23752 23.6959 6.23752Z"
                                    fill="white"
                                />
                            </svg>
                        </a>
                        <p class="block__item">
                            <a href="#" class="block__link main-text"
                                >Регистрация◥</a
                            >
                        </p>
                        <p class="block__item">
                            <a
                                href="tel:+7(901)784-23-85"
                                class="block__link subtitle"
                                >+7 (901) 784-23-85</a
                            >
                        </p>
                        <svg
                            class="block__item"
                            width="30"
                            height="23"
                            viewBox="0 0 30 23"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <rect width="30" height="3" fill="white" />
                            <rect y="20" width="30" height="3" fill="white" />
                            <rect y="10" width="30" height="3" fill="white" />
                        </svg>
                    </div> -->

                    <!-- 0 - 550 -->

                    <!-- <svg
                        class="block__item burger-menu"
                        width="30"
                        height="23"
                        viewBox="0 0 30 23"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <rect width="30" height="3" fill="white" />
                        <rect y="20" width="30" height="3" fill="white" />
                        <rect y="10" width="30" height="3" fill="white" />
                    </svg> -->
                </article>
            </div>
            <div class="blue-line"></div>
            <div class="header__main wrapper">
                <div class="header__offer offer">
                    <h1 class="offer__item">
                        Яркие гаджеты на все случаи жизни
                    </h1>
                    <p class="offer__item offer__subtitle subtitle-regular">
                        Познавайте этот мир вместе с нами с помощью качественной
                        техники на любой вкус
                    </p>
                    <button class="offer__item big-button buttons-text">
                        <a  href='/products/'>
                        Перейти к каталогу
                    </a>
                    </button>
                </div>
            </div>
        </header>

    <main class="main">
        <div class="gray-line">
        </div>
        {% block content %}
        {% endblock %}
        <!-- НЕМНОГО О НАС -->

        <article class="about">
            <h2 class="visually-hidden">Немного о нас</h2>
            <div class="about__content wrapper">
                <h2 class="about__title">Немного о нас</h2>
                <svg class="about__trigger1" width="1171" height="134" viewBox="0 0 1171 134" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M77.44 78V106H68V85.12H63.2V78H77.44ZM96.0788 87.88C97.7854 87.88 99.3721 88.2533 100.839 89C102.305 89.7467 103.479 90.8 104.359 92.16C105.239 93.52 105.679 95.08 105.679 96.84C105.679 98.7867 105.172 100.507 104.159 102C103.172 103.493 101.812 104.64 100.079 105.44C98.3454 106.24 96.4254 106.64 94.3188 106.64C91.6254 106.64 89.2654 106.12 87.2388 105.08C85.2388 104.04 83.6788 102.493 82.5588 100.44C81.4388 98.3867 80.8788 95.8667 80.8788 92.88C80.8788 89.68 81.5188 86.9067 82.7988 84.56C84.1054 82.2133 85.9188 80.4267 88.2388 79.2C90.5854 77.9733 93.3054 77.36 96.3988 77.36C98.0788 77.36 99.6788 77.56 101.199 77.96C102.719 78.3333 104.012 78.8667 105.079 79.56L101.679 86.16C100.292 85.1733 98.5988 84.68 96.5988 84.68C94.9721 84.68 93.6254 85.0933 92.5588 85.92C91.5188 86.72 90.8388 87.8933 90.5188 89.44C91.9854 88.4 93.8388 87.88 96.0788 87.88ZM93.6788 100.12C94.5321 100.12 95.2254 99.8667 95.7588 99.36C96.2921 98.8533 96.5588 98.16 96.5588 97.28C96.5588 96.4 96.2921 95.7067 95.7588 95.2C95.2254 94.6667 94.5321 94.4 93.6788 94.4C92.8254 94.4 92.1321 94.6667 91.5988 95.2C91.0654 95.7067 90.7988 96.4 90.7988 97.28C90.7988 98.16 91.0654 98.8533 91.5988 99.36C92.1321 99.8667 92.8254 100.12 93.6788 100.12Z"
                        fill="black" />
                    <path
                        d="M12.675 119.5V130H11.61V121.6L7.485 128.665H6.96L2.835 121.645V130H1.77V119.5H2.685L7.245 127.285L11.76 119.5H12.675ZM18.6734 122.05C19.7034 122.05 20.4934 122.31 21.0434 122.83C21.5934 123.34 21.8684 124.1 21.8684 125.11V130H20.8484V128.77C20.6084 129.18 20.2534 129.5 19.7834 129.73C19.3234 129.96 18.7734 130.075 18.1334 130.075C17.2534 130.075 16.5534 129.865 16.0334 129.445C15.5134 129.025 15.2534 128.47 15.2534 127.78C15.2534 127.11 15.4934 126.57 15.9734 126.16C16.4634 125.75 17.2384 125.545 18.2984 125.545H20.8034V125.065C20.8034 124.385 20.6134 123.87 20.2334 123.52C19.8534 123.16 19.2984 122.98 18.5684 122.98C18.0684 122.98 17.5884 123.065 17.1284 123.235C16.6684 123.395 16.2734 123.62 15.9434 123.91L15.4634 123.115C15.8634 122.775 16.3434 122.515 16.9034 122.335C17.4634 122.145 18.0534 122.05 18.6734 122.05ZM18.2984 129.235C18.8984 129.235 19.4134 129.1 19.8434 128.83C20.2734 128.55 20.5934 128.15 20.8034 127.63V126.34H18.3284C16.9784 126.34 16.3034 126.81 16.3034 127.75C16.3034 128.21 16.4784 128.575 16.8284 128.845C17.1784 129.105 17.6684 129.235 18.2984 129.235ZM30.2835 123.055H25.7685V130H24.7035V122.11H30.2835V123.055ZM34.5376 122.05C35.5676 122.05 36.3576 122.31 36.9076 122.83C37.4576 123.34 37.7326 124.1 37.7326 125.11V130H36.7126V128.77C36.4726 129.18 36.1176 129.5 35.6476 129.73C35.1876 129.96 34.6376 130.075 33.9976 130.075C33.1176 130.075 32.4176 129.865 31.8976 129.445C31.3776 129.025 31.1176 128.47 31.1176 127.78C31.1176 127.11 31.3576 126.57 31.8376 126.16C32.3276 125.75 33.1026 125.545 34.1626 125.545H36.6676V125.065C36.6676 124.385 36.4776 123.87 36.0976 123.52C35.7176 123.16 35.1626 122.98 34.4326 122.98C33.9326 122.98 33.4526 123.065 32.9926 123.235C32.5326 123.395 32.1376 123.62 31.8076 123.91L31.3276 123.115C31.7276 122.775 32.2076 122.515 32.7676 122.335C33.3276 122.145 33.9176 122.05 34.5376 122.05ZM34.1626 129.235C34.7626 129.235 35.2776 129.1 35.7076 128.83C36.1376 128.55 36.4576 128.15 36.6676 127.63V126.34H34.1926C32.8426 126.34 32.1676 126.81 32.1676 127.75C32.1676 128.21 32.3426 128.575 32.6926 128.845C33.0426 129.105 33.5326 129.235 34.1626 129.235ZM44.2466 125.89C44.8066 126.02 45.2366 126.245 45.5366 126.565C45.8466 126.885 46.0016 127.275 46.0016 127.735C46.0016 128.195 45.8416 128.605 45.5216 128.965C45.2116 129.325 44.7866 129.605 44.2466 129.805C43.7066 129.995 43.1116 130.09 42.4616 130.09C41.8916 130.09 41.3316 130.01 40.7816 129.85C40.2316 129.68 39.7516 129.435 39.3416 129.115L39.7016 128.32C40.0616 128.59 40.4816 128.8 40.9616 128.95C41.4416 129.1 41.9266 129.175 42.4166 129.175C43.1466 129.175 43.7416 129.04 44.2016 128.77C44.6716 128.49 44.9066 128.115 44.9066 127.645C44.9066 127.225 44.7166 126.9 44.3366 126.67C43.9566 126.43 43.4366 126.31 42.7766 126.31H41.4266V125.53H42.7166C43.3066 125.53 43.7816 125.42 44.1416 125.2C44.5016 124.97 44.6816 124.665 44.6816 124.285C44.6816 123.865 44.4766 123.535 44.0666 123.295C43.6666 123.055 43.1416 122.935 42.4916 122.935C41.6416 122.935 40.8016 123.15 39.9716 123.58L39.6716 122.755C40.6116 122.265 41.5866 122.02 42.5966 122.02C43.1966 122.02 43.7366 122.11 44.2166 122.29C44.7066 122.46 45.0866 122.705 45.3566 123.025C45.6366 123.345 45.7766 123.715 45.7766 124.135C45.7766 124.535 45.6366 124.89 45.3566 125.2C45.0866 125.51 44.7166 125.74 44.2466 125.89ZM48.4193 122.11H49.4843V128.38L54.7493 122.11H55.6943V130H54.6293V123.73L49.3793 130H48.4193V122.11ZM58.7464 122.11H59.8114V125.605H64.7764V122.11H65.8414V130H64.7764V126.52H59.8114V130H58.7464V122.11ZM72.1235 130.075C71.3635 130.075 70.6785 129.905 70.0685 129.565C69.4585 129.215 68.9785 128.735 68.6285 128.125C68.2785 127.515 68.1035 126.825 68.1035 126.055C68.1035 125.285 68.2785 124.595 68.6285 123.985C68.9785 123.375 69.4585 122.9 70.0685 122.56C70.6785 122.22 71.3635 122.05 72.1235 122.05C72.8835 122.05 73.5685 122.22 74.1785 122.56C74.7885 122.9 75.2635 123.375 75.6035 123.985C75.9535 124.595 76.1285 125.285 76.1285 126.055C76.1285 126.825 75.9535 127.515 75.6035 128.125C75.2635 128.735 74.7885 129.215 74.1785 129.565C73.5685 129.905 72.8835 130.075 72.1235 130.075ZM72.1235 129.13C72.6835 129.13 73.1835 129.005 73.6235 128.755C74.0735 128.495 74.4235 128.13 74.6735 127.66C74.9235 127.19 75.0485 126.655 75.0485 126.055C75.0485 125.455 74.9235 124.92 74.6735 124.45C74.4235 123.98 74.0735 123.62 73.6235 123.37C73.1835 123.11 72.6835 122.98 72.1235 122.98C71.5635 122.98 71.0585 123.11 70.6085 123.37C70.1685 123.62 69.8185 123.98 69.5585 124.45C69.3085 124.92 69.1835 125.455 69.1835 126.055C69.1835 126.655 69.3085 127.19 69.5585 127.66C69.8185 128.13 70.1685 128.495 70.6085 128.755C71.0585 129.005 71.5635 129.13 72.1235 129.13ZM83.4296 125.92C84.4996 126.17 85.0346 126.815 85.0346 127.855C85.0346 128.545 84.7796 129.075 84.2696 129.445C83.7596 129.815 82.9996 130 81.9896 130H78.4046V122.11H81.8846C82.7846 122.11 83.4896 122.285 83.9996 122.635C84.5096 122.985 84.7646 123.485 84.7646 124.135C84.7646 124.565 84.6446 124.935 84.4046 125.245C84.1746 125.545 83.8496 125.77 83.4296 125.92ZM79.4396 125.62H81.8096C82.4196 125.62 82.8846 125.505 83.2046 125.275C83.5346 125.045 83.6996 124.71 83.6996 124.27C83.6996 123.83 83.5346 123.5 83.2046 123.28C82.8846 123.06 82.4196 122.95 81.8096 122.95H79.4396V125.62ZM81.9446 129.16C82.6246 129.16 83.1346 129.05 83.4746 128.83C83.8146 128.61 83.9846 128.265 83.9846 127.795C83.9846 127.325 83.8296 126.98 83.5196 126.76C83.2096 126.53 82.7196 126.415 82.0496 126.415H79.4396V129.16H81.9446ZM98.5364 122.11V130H97.4714V123.055H92.5214V130H91.4564V122.11H98.5364ZM104.819 130.075C104.059 130.075 103.374 129.905 102.764 129.565C102.154 129.215 101.674 128.735 101.324 128.125C100.974 127.515 100.799 126.825 100.799 126.055C100.799 125.285 100.974 124.595 101.324 123.985C101.674 123.375 102.154 122.9 102.764 122.56C103.374 122.22 104.059 122.05 104.819 122.05C105.579 122.05 106.264 122.22 106.874 122.56C107.484 122.9 107.959 123.375 108.299 123.985C108.649 124.595 108.824 125.285 108.824 126.055C108.824 126.825 108.649 127.515 108.299 128.125C107.959 128.735 107.484 129.215 106.874 129.565C106.264 129.905 105.579 130.075 104.819 130.075ZM104.819 129.13C105.379 129.13 105.879 129.005 106.319 128.755C106.769 128.495 107.119 128.13 107.369 127.66C107.619 127.19 107.744 126.655 107.744 126.055C107.744 125.455 107.619 124.92 107.369 124.45C107.119 123.98 106.769 123.62 106.319 123.37C105.879 123.11 105.379 122.98 104.819 122.98C104.259 122.98 103.754 123.11 103.304 123.37C102.864 123.62 102.514 123.98 102.254 124.45C102.004 124.92 101.879 125.455 101.879 126.055C101.879 126.655 102.004 127.19 102.254 127.66C102.514 128.13 102.864 128.495 103.304 128.755C103.754 129.005 104.259 129.13 104.819 129.13ZM119.211 119.5C120.551 119.5 121.601 119.82 122.361 120.46C123.121 121.1 123.501 121.98 123.501 123.1C123.501 124.22 123.121 125.1 122.361 125.74C121.601 126.37 120.551 126.685 119.211 126.685H116.391V130H115.281V119.5H119.211ZM119.181 125.71C120.221 125.71 121.016 125.485 121.566 125.035C122.116 124.575 122.391 123.93 122.391 123.1C122.391 122.25 122.116 121.6 121.566 121.15C121.016 120.69 120.221 120.46 119.181 120.46H116.391V125.71H119.181ZM128.74 130.075C127.98 130.075 127.295 129.905 126.685 129.565C126.075 129.215 125.595 128.735 125.245 128.125C124.895 127.515 124.72 126.825 124.72 126.055C124.72 125.285 124.895 124.595 125.245 123.985C125.595 123.375 126.075 122.9 126.685 122.56C127.295 122.22 127.98 122.05 128.74 122.05C129.5 122.05 130.185 122.22 130.795 122.56C131.405 122.9 131.88 123.375 132.22 123.985C132.57 124.595 132.745 125.285 132.745 126.055C132.745 126.825 132.57 127.515 132.22 128.125C131.88 128.735 131.405 129.215 130.795 129.565C130.185 129.905 129.5 130.075 128.74 130.075ZM128.74 129.13C129.3 129.13 129.8 129.005 130.24 128.755C130.69 128.495 131.04 128.13 131.29 127.66C131.54 127.19 131.665 126.655 131.665 126.055C131.665 125.455 131.54 124.92 131.29 124.45C131.04 123.98 130.69 123.62 130.24 123.37C129.8 123.11 129.3 122.98 128.74 122.98C128.18 122.98 127.675 123.11 127.225 123.37C126.785 123.62 126.435 123.98 126.175 124.45C125.925 124.92 125.8 125.455 125.8 126.055C125.8 126.655 125.925 127.19 126.175 127.66C126.435 128.13 126.785 128.495 127.225 128.755C127.675 129.005 128.18 129.13 128.74 129.13ZM138.321 130.075C137.541 130.075 136.841 129.905 136.221 129.565C135.611 129.225 135.131 128.75 134.781 128.14C134.431 127.52 134.256 126.825 134.256 126.055C134.256 125.285 134.431 124.595 134.781 123.985C135.131 123.375 135.611 122.9 136.221 122.56C136.841 122.22 137.541 122.05 138.321 122.05C139.001 122.05 139.606 122.185 140.136 122.455C140.676 122.715 141.101 123.1 141.411 123.61L140.616 124.15C140.356 123.76 140.026 123.47 139.626 123.28C139.226 123.08 138.791 122.98 138.321 122.98C137.751 122.98 137.236 123.11 136.776 123.37C136.326 123.62 135.971 123.98 135.711 124.45C135.461 124.92 135.336 125.455 135.336 126.055C135.336 126.665 135.461 127.205 135.711 127.675C135.971 128.135 136.326 128.495 136.776 128.755C137.236 129.005 137.751 129.13 138.321 129.13C138.791 129.13 139.226 129.035 139.626 128.845C140.026 128.655 140.356 128.365 140.616 127.975L141.411 128.515C141.101 129.025 140.676 129.415 140.136 129.685C139.596 129.945 138.991 130.075 138.321 130.075ZM146.641 130.075C145.861 130.075 145.161 129.905 144.541 129.565C143.931 129.225 143.451 128.75 143.101 128.14C142.751 127.52 142.576 126.825 142.576 126.055C142.576 125.285 142.751 124.595 143.101 123.985C143.451 123.375 143.931 122.9 144.541 122.56C145.161 122.22 145.861 122.05 146.641 122.05C147.321 122.05 147.926 122.185 148.456 122.455C148.996 122.715 149.421 123.1 149.731 123.61L148.936 124.15C148.676 123.76 148.346 123.47 147.946 123.28C147.546 123.08 147.111 122.98 146.641 122.98C146.071 122.98 145.556 123.11 145.096 123.37C144.646 123.62 144.291 123.98 144.031 124.45C143.781 124.92 143.656 125.455 143.656 126.055C143.656 126.665 143.781 127.205 144.031 127.675C144.291 128.135 144.646 128.495 145.096 128.755C145.556 129.005 146.071 129.13 146.641 129.13C147.111 129.13 147.546 129.035 147.946 128.845C148.346 128.655 148.676 128.365 148.936 127.975L149.731 128.515C149.421 129.025 148.996 129.415 148.456 129.685C147.916 129.945 147.311 130.075 146.641 130.075ZM151.793 122.11H152.858V128.38L158.123 122.11H159.068V130H158.003V123.73L152.753 130H151.793V122.11ZM162.12 122.11H163.185V128.38L168.45 122.11H169.395V130H168.33V123.73L163.08 130H162.12V122.11Z"
                        fill="black" />
                    <line x1="99.8592" y1="80.5202" x2="266.859" y2="31.5202" stroke="black" />
                    <path
                        d="M277.71 29V57H268.27V36.12H263.47V29H277.71ZM293.829 57.64C291.349 57.64 289.149 57.0667 287.229 55.92C285.335 54.7467 283.842 53.0667 282.749 50.88C281.682 48.6667 281.149 46.04 281.149 43C281.149 39.96 281.682 37.3467 282.749 35.16C283.842 32.9467 285.335 31.2667 287.229 30.12C289.149 28.9467 291.349 28.36 293.829 28.36C296.309 28.36 298.495 28.9467 300.389 30.12C302.309 31.2667 303.802 32.9467 304.869 35.16C305.962 37.3467 306.509 39.96 306.509 43C306.509 46.04 305.962 48.6667 304.869 50.88C303.802 53.0667 302.309 54.7467 300.389 55.92C298.495 57.0667 296.309 57.64 293.829 57.64ZM293.829 50.08C295.962 50.08 297.029 47.72 297.029 43C297.029 38.28 295.962 35.92 293.829 35.92C291.695 35.92 290.629 38.28 290.629 43C290.629 47.72 291.695 50.08 293.829 50.08ZM321.524 57.64C319.044 57.64 316.844 57.0667 314.924 55.92C313.031 54.7467 311.537 53.0667 310.444 50.88C309.377 48.6667 308.844 46.04 308.844 43C308.844 39.96 309.377 37.3467 310.444 35.16C311.537 32.9467 313.031 31.2667 314.924 30.12C316.844 28.9467 319.044 28.36 321.524 28.36C324.004 28.36 326.191 28.9467 328.084 30.12C330.004 31.2667 331.497 32.9467 332.564 35.16C333.657 37.3467 334.204 39.96 334.204 43C334.204 46.04 333.657 48.6667 332.564 50.88C331.497 53.0667 330.004 54.7467 328.084 55.92C326.191 57.0667 324.004 57.64 321.524 57.64ZM321.524 50.08C323.657 50.08 324.724 47.72 324.724 43C324.724 38.28 323.657 35.92 321.524 35.92C319.391 35.92 318.324 38.28 318.324 43C318.324 47.72 319.391 50.08 321.524 50.08ZM349.219 57.64C346.739 57.64 344.539 57.0667 342.619 55.92C340.726 54.7467 339.233 53.0667 338.139 50.88C337.073 48.6667 336.539 46.04 336.539 43C336.539 39.96 337.073 37.3467 338.139 35.16C339.233 32.9467 340.726 31.2667 342.619 30.12C344.539 28.9467 346.739 28.36 349.219 28.36C351.699 28.36 353.886 28.9467 355.779 30.12C357.699 31.2667 359.193 32.9467 360.259 35.16C361.353 37.3467 361.899 39.96 361.899 43C361.899 46.04 361.353 48.6667 360.259 50.88C359.193 53.0667 357.699 54.7467 355.779 55.92C353.886 57.0667 351.699 57.64 349.219 57.64ZM349.219 50.08C351.353 50.08 352.419 47.72 352.419 43C352.419 38.28 351.353 35.92 349.219 35.92C347.086 35.92 346.019 38.28 346.019 43C346.019 47.72 347.086 50.08 349.219 50.08Z"
                        fill="black" />
                    <path
                        d="M227.52 9.185H225.12V14H224.04V3.5H225.12V8.21H227.52L231.075 3.5H232.275L228.375 8.6L232.5 14H231.225L227.52 9.185ZM240.548 6.11V14H239.483V7.055H235.703L235.598 9.005C235.518 10.645 235.328 11.905 235.028 12.785C234.728 13.665 234.193 14.105 233.423 14.105C233.213 14.105 232.958 14.065 232.658 13.985L232.733 13.07C232.913 13.11 233.038 13.13 233.108 13.13C233.518 13.13 233.828 12.94 234.038 12.56C234.248 12.18 234.388 11.71 234.458 11.15C234.528 10.59 234.588 9.85 234.638 8.93L234.773 6.11H240.548ZM243.575 6.11H244.64V12.38L249.905 6.11H250.85V14H249.785V7.73L244.535 14H243.575V6.11ZM260.802 10.385H254.202C254.262 11.205 254.577 11.87 255.147 12.38C255.717 12.88 256.437 13.13 257.307 13.13C257.797 13.13 258.247 13.045 258.657 12.875C259.067 12.695 259.422 12.435 259.722 12.095L260.322 12.785C259.972 13.205 259.532 13.525 259.002 13.745C258.482 13.965 257.907 14.075 257.277 14.075C256.467 14.075 255.747 13.905 255.117 13.565C254.497 13.215 254.012 12.735 253.662 12.125C253.312 11.515 253.137 10.825 253.137 10.055C253.137 9.285 253.302 8.595 253.632 7.985C253.972 7.375 254.432 6.9 255.012 6.56C255.602 6.22 256.262 6.05 256.992 6.05C257.722 6.05 258.377 6.22 258.957 6.56C259.537 6.9 259.992 7.375 260.322 7.985C260.652 8.585 260.817 9.275 260.817 10.055L260.802 10.385ZM256.992 6.965C256.232 6.965 255.592 7.21 255.072 7.7C254.562 8.18 254.272 8.81 254.202 9.59H259.797C259.727 8.81 259.432 8.18 258.912 7.7C258.402 7.21 257.762 6.965 256.992 6.965ZM263.175 6.11H264.24V9.605H269.205V6.11H270.27V14H269.205V10.52H264.24V14H263.175V6.11ZM278.847 7.055H275.862V14H274.797V7.055H271.812V6.11H278.847V7.055ZM283.275 14.075C282.515 14.075 281.83 13.905 281.22 13.565C280.61 13.215 280.13 12.735 279.78 12.125C279.43 11.515 279.255 10.825 279.255 10.055C279.255 9.285 279.43 8.595 279.78 7.985C280.13 7.375 280.61 6.9 281.22 6.56C281.83 6.22 282.515 6.05 283.275 6.05C284.035 6.05 284.72 6.22 285.33 6.56C285.94 6.9 286.415 7.375 286.755 7.985C287.105 8.595 287.28 9.285 287.28 10.055C287.28 10.825 287.105 11.515 286.755 12.125C286.415 12.735 285.94 13.215 285.33 13.565C284.72 13.905 284.035 14.075 283.275 14.075ZM283.275 13.13C283.835 13.13 284.335 13.005 284.775 12.755C285.225 12.495 285.575 12.13 285.825 11.66C286.075 11.19 286.2 10.655 286.2 10.055C286.2 9.455 286.075 8.92 285.825 8.45C285.575 7.98 285.225 7.62 284.775 7.37C284.335 7.11 283.835 6.98 283.275 6.98C282.715 6.98 282.21 7.11 281.76 7.37C281.32 7.62 280.97 7.98 280.71 8.45C280.46 8.92 280.335 9.455 280.335 10.055C280.335 10.655 280.46 11.19 280.71 11.66C280.97 12.13 281.32 12.495 281.76 12.755C282.21 13.005 282.715 13.13 283.275 13.13ZM294.582 9.92C295.652 10.17 296.187 10.815 296.187 11.855C296.187 12.545 295.932 13.075 295.422 13.445C294.912 13.815 294.152 14 293.142 14H289.557V6.11H293.037C293.937 6.11 294.642 6.285 295.152 6.635C295.662 6.985 295.917 7.485 295.917 8.135C295.917 8.565 295.797 8.935 295.557 9.245C295.327 9.545 295.002 9.77 294.582 9.92ZM290.592 9.62H292.962C293.572 9.62 294.037 9.505 294.357 9.275C294.687 9.045 294.852 8.71 294.852 8.27C294.852 7.83 294.687 7.5 294.357 7.28C294.037 7.06 293.572 6.95 292.962 6.95H290.592V9.62ZM293.097 13.16C293.777 13.16 294.287 13.05 294.627 12.83C294.967 12.61 295.137 12.265 295.137 11.795C295.137 11.325 294.982 10.98 294.672 10.76C294.362 10.53 293.872 10.415 293.202 10.415H290.592V13.16H293.097ZM305.473 10.49H303.673V14H302.608V6.11H303.673V9.575H305.488L308.263 6.11H309.418L306.313 9.935L309.643 14H308.383L305.473 10.49ZM313.893 6.05C314.923 6.05 315.713 6.31 316.263 6.83C316.813 7.34 317.088 8.1 317.088 9.11V14H316.068V12.77C315.828 13.18 315.473 13.5 315.003 13.73C314.543 13.96 313.993 14.075 313.353 14.075C312.473 14.075 311.773 13.865 311.253 13.445C310.733 13.025 310.473 12.47 310.473 11.78C310.473 11.11 310.713 10.57 311.193 10.16C311.683 9.75 312.458 9.545 313.518 9.545H316.023V9.065C316.023 8.385 315.833 7.87 315.453 7.52C315.073 7.16 314.518 6.98 313.788 6.98C313.288 6.98 312.808 7.065 312.348 7.235C311.888 7.395 311.493 7.62 311.163 7.91L310.683 7.115C311.083 6.775 311.563 6.515 312.123 6.335C312.683 6.145 313.273 6.05 313.893 6.05ZM313.518 13.235C314.118 13.235 314.633 13.1 315.063 12.83C315.493 12.55 315.813 12.15 316.023 11.63V10.34H313.548C312.198 10.34 311.523 10.81 311.523 11.75C311.523 12.21 311.698 12.575 312.048 12.845C312.398 13.105 312.888 13.235 313.518 13.235ZM326.838 10.49H325.128V14H324.063V10.49H322.353L319.938 14H318.663L321.498 9.935L318.888 6.11H320.043L322.353 9.575H324.063V6.11H325.128V9.575H326.838L329.163 6.11H330.318L327.708 9.95L330.543 14H329.268L326.838 10.49ZM340.01 13.07V15.905H339.005V14H331.94V15.905H330.935V13.07H331.385C331.915 13.04 332.275 12.65 332.465 11.9C332.655 11.15 332.785 10.1 332.855 8.75L332.96 6.11H338.78V13.07H340.01ZM333.83 8.81C333.78 9.93 333.685 10.855 333.545 11.585C333.405 12.305 333.155 12.8 332.795 13.07H337.715V7.055H333.92L333.83 8.81ZM345.401 8.9C346.391 8.91 347.146 9.13 347.666 9.56C348.186 9.99 348.446 10.61 348.446 11.42C348.446 12.26 348.166 12.905 347.606 13.355C347.046 13.805 346.246 14.025 345.206 14.015L342.086 14V6.11H343.151V8.87L345.401 8.9ZM349.766 6.11H350.831V14H349.766V6.11ZM345.146 13.205C345.876 13.215 346.426 13.07 346.796 12.77C347.176 12.46 347.366 12.01 347.366 11.42C347.366 10.84 347.181 10.41 346.811 10.13C346.441 9.85 345.886 9.705 345.146 9.695L343.151 9.665V13.175L345.146 13.205ZM353.863 6.11H354.928V12.38L360.193 6.11H361.138V14H360.073V7.73L354.823 14H353.863V6.11ZM357.448 4.97C356.768 4.97 356.228 4.8 355.828 4.46C355.428 4.12 355.223 3.64 355.213 3.02H355.978C355.988 3.41 356.128 3.725 356.398 3.965C356.668 4.195 357.018 4.31 357.448 4.31C357.878 4.31 358.228 4.195 358.498 3.965C358.778 3.725 358.923 3.41 358.933 3.02H359.698C359.688 3.64 359.478 4.12 359.068 4.46C358.668 4.8 358.128 4.97 357.448 4.97ZM375.811 13.07V15.905H374.806V14H367.741V15.905H366.736V13.07H367.186C367.716 13.04 368.076 12.65 368.266 11.9C368.456 11.15 368.586 10.1 368.656 8.75L368.761 6.11H374.581V13.07H375.811ZM369.631 8.81C369.581 9.93 369.486 10.855 369.346 11.585C369.206 12.305 368.956 12.8 368.596 13.07H373.516V7.055H369.721L369.631 8.81ZM384.787 10.385H378.187C378.247 11.205 378.562 11.87 379.132 12.38C379.702 12.88 380.422 13.13 381.292 13.13C381.782 13.13 382.232 13.045 382.642 12.875C383.052 12.695 383.407 12.435 383.707 12.095L384.307 12.785C383.957 13.205 383.517 13.525 382.987 13.745C382.467 13.965 381.892 14.075 381.262 14.075C380.452 14.075 379.732 13.905 379.102 13.565C378.482 13.215 377.997 12.735 377.647 12.125C377.297 11.515 377.122 10.825 377.122 10.055C377.122 9.285 377.287 8.595 377.617 7.985C377.957 7.375 378.417 6.9 378.997 6.56C379.587 6.22 380.247 6.05 380.977 6.05C381.707 6.05 382.362 6.22 382.942 6.56C383.522 6.9 383.977 7.375 384.307 7.985C384.637 8.585 384.802 9.275 384.802 10.055L384.787 10.385ZM380.977 6.965C380.217 6.965 379.577 7.21 379.057 7.7C378.547 8.18 378.257 8.81 378.187 9.59H383.782C383.712 8.81 383.417 8.18 382.897 7.7C382.387 7.21 381.747 6.965 380.977 6.965ZM387.159 6.11H388.224V9.605H393.189V6.11H394.254V14H393.189V10.52H388.224V14H387.159V6.11ZM400.671 8.9C401.661 8.91 402.411 9.13 402.921 9.56C403.441 9.99 403.701 10.61 403.701 11.42C403.701 12.26 403.421 12.905 402.861 13.355C402.311 13.805 401.511 14.025 400.461 14.015L397.281 14V6.11H398.346V8.87L400.671 8.9ZM400.401 13.205C401.131 13.215 401.681 13.07 402.051 12.77C402.431 12.46 402.621 12.01 402.621 11.42C402.621 10.84 402.436 10.41 402.066 10.13C401.696 9.85 401.141 9.705 400.401 9.695L398.346 9.665V13.175L400.401 13.205Z"
                        fill="black" />
                    <line x1="547.864" y1="85.4811" x2="356.864" y2="31.4811" stroke="black" />
                    <path
                        d="M566.1 98.68V106H543.66V100.2L553.78 90.84C554.66 90.0133 555.247 89.3067 555.54 88.72C555.833 88.1333 555.98 87.56 555.98 87C555.98 86.3067 555.74 85.7733 555.26 85.4C554.807 85 554.14 84.8 553.26 84.8C552.407 84.8 551.607 85.0267 550.86 85.48C550.113 85.9333 549.54 86.5733 549.14 87.4L542.02 83.84C543.087 81.84 544.647 80.2667 546.7 79.12C548.753 77.9467 551.233 77.36 554.14 77.36C556.353 77.36 558.313 77.72 560.02 78.44C561.727 79.16 563.06 80.1867 564.02 81.52C564.98 82.8533 565.46 84.3867 565.46 86.12C565.46 87.6667 565.127 89.12 564.46 90.48C563.82 91.8133 562.553 93.3333 560.66 95.04L556.66 98.68H566.1ZM595.196 101.2H591.476V106H582.316V101.2H567.796V95.2L579.676 78H589.356L578.796 93.88H582.596V89.6H591.476V93.88H595.196V101.2Z"
                        fill="black" />
                    <path
                        d="M466.72 119.5V130H465.64V125.65C464.5 126.14 463.395 126.385 462.325 126.385C461.095 126.385 460.135 126.085 459.445 125.485C458.765 124.885 458.425 124.045 458.425 122.965V119.5H459.52V122.845C459.52 123.655 459.775 124.285 460.285 124.735C460.795 125.185 461.51 125.41 462.43 125.41C463.48 125.41 464.55 125.16 465.64 124.66V119.5H466.72ZM472.742 122.05C473.772 122.05 474.562 122.31 475.112 122.83C475.662 123.34 475.937 124.1 475.937 125.11V130H474.917V128.77C474.677 129.18 474.322 129.5 473.852 129.73C473.392 129.96 472.842 130.075 472.202 130.075C471.322 130.075 470.622 129.865 470.102 129.445C469.582 129.025 469.322 128.47 469.322 127.78C469.322 127.11 469.562 126.57 470.042 126.16C470.532 125.75 471.307 125.545 472.367 125.545H474.872V125.065C474.872 124.385 474.682 123.87 474.302 123.52C473.922 123.16 473.367 122.98 472.637 122.98C472.137 122.98 471.657 123.065 471.197 123.235C470.737 123.395 470.342 123.62 470.012 123.91L469.532 123.115C469.932 122.775 470.412 122.515 470.972 122.335C471.532 122.145 472.122 122.05 472.742 122.05ZM472.367 129.235C472.967 129.235 473.482 129.1 473.912 128.83C474.342 128.55 474.662 128.15 474.872 127.63V126.34H472.397C471.047 126.34 470.372 126.81 470.372 127.75C470.372 128.21 470.547 128.575 470.897 128.845C471.247 129.105 471.737 129.235 472.367 129.235ZM482.072 130.075C481.292 130.075 480.592 129.905 479.972 129.565C479.362 129.225 478.882 128.75 478.532 128.14C478.182 127.52 478.007 126.825 478.007 126.055C478.007 125.285 478.182 124.595 478.532 123.985C478.882 123.375 479.362 122.9 479.972 122.56C480.592 122.22 481.292 122.05 482.072 122.05C482.752 122.05 483.357 122.185 483.887 122.455C484.427 122.715 484.852 123.1 485.162 123.61L484.367 124.15C484.107 123.76 483.777 123.47 483.377 123.28C482.977 123.08 482.542 122.98 482.072 122.98C481.502 122.98 480.987 123.11 480.527 123.37C480.077 123.62 479.722 123.98 479.462 124.45C479.212 124.92 479.087 125.455 479.087 126.055C479.087 126.665 479.212 127.205 479.462 127.675C479.722 128.135 480.077 128.495 480.527 128.755C480.987 129.005 481.502 129.13 482.072 129.13C482.542 129.13 482.977 129.035 483.377 128.845C483.777 128.655 484.107 128.365 484.367 127.975L485.162 128.515C484.852 129.025 484.427 129.415 483.887 129.685C483.347 129.945 482.742 130.075 482.072 130.075ZM489.939 122.05C490.969 122.05 491.759 122.31 492.309 122.83C492.859 123.34 493.134 124.1 493.134 125.11V130H492.114V128.77C491.874 129.18 491.519 129.5 491.049 129.73C490.589 129.96 490.039 130.075 489.399 130.075C488.519 130.075 487.819 129.865 487.299 129.445C486.779 129.025 486.519 128.47 486.519 127.78C486.519 127.11 486.759 126.57 487.239 126.16C487.729 125.75 488.504 125.545 489.564 125.545H492.069V125.065C492.069 124.385 491.879 123.87 491.499 123.52C491.119 123.16 490.564 122.98 489.834 122.98C489.334 122.98 488.854 123.065 488.394 123.235C487.934 123.395 487.539 123.62 487.209 123.91L486.729 123.115C487.129 122.775 487.609 122.515 488.169 122.335C488.729 122.145 489.319 122.05 489.939 122.05ZM489.564 129.235C490.164 129.235 490.679 129.1 491.109 128.83C491.539 128.55 491.859 128.15 492.069 127.63V126.34H489.594C488.244 126.34 487.569 126.81 487.569 127.75C487.569 128.21 487.744 128.575 488.094 128.845C488.444 129.105 488.934 129.235 489.564 129.235ZM503.96 122.05C504.7 122.05 505.37 122.22 505.97 122.56C506.57 122.89 507.04 123.36 507.38 123.97C507.72 124.58 507.89 125.275 507.89 126.055C507.89 126.845 507.72 127.545 507.38 128.155C507.04 128.765 506.57 129.24 505.97 129.58C505.38 129.91 504.71 130.075 503.96 130.075C503.32 130.075 502.74 129.945 502.22 129.685C501.71 129.415 501.29 129.025 500.96 128.515V132.91H499.895V122.11H500.915V123.67C501.235 123.15 501.655 122.75 502.175 122.47C502.705 122.19 503.3 122.05 503.96 122.05ZM503.885 129.13C504.435 129.13 504.935 129.005 505.385 128.755C505.835 128.495 506.185 128.13 506.435 127.66C506.695 127.19 506.825 126.655 506.825 126.055C506.825 125.455 506.695 124.925 506.435 124.465C506.185 123.995 505.835 123.63 505.385 123.37C504.935 123.11 504.435 122.98 503.885 122.98C503.325 122.98 502.82 123.11 502.37 123.37C501.93 123.63 501.58 123.995 501.32 124.465C501.07 124.925 500.945 125.455 500.945 126.055C500.945 126.655 501.07 127.19 501.32 127.66C501.58 128.13 501.93 128.495 502.37 128.755C502.82 129.005 503.325 129.13 503.885 129.13ZM512.849 122.05C513.879 122.05 514.669 122.31 515.219 122.83C515.769 123.34 516.044 124.1 516.044 125.11V130H515.024V128.77C514.784 129.18 514.429 129.5 513.959 129.73C513.499 129.96 512.949 130.075 512.309 130.075C511.429 130.075 510.729 129.865 510.209 129.445C509.689 129.025 509.429 128.47 509.429 127.78C509.429 127.11 509.669 126.57 510.149 126.16C510.639 125.75 511.414 125.545 512.474 125.545H514.979V125.065C514.979 124.385 514.789 123.87 514.409 123.52C514.029 123.16 513.474 122.98 512.744 122.98C512.244 122.98 511.764 123.065 511.304 123.235C510.844 123.395 510.449 123.62 510.119 123.91L509.639 123.115C510.039 122.775 510.519 122.515 511.079 122.335C511.639 122.145 512.229 122.05 512.849 122.05ZM512.474 129.235C513.074 129.235 513.589 129.1 514.019 128.83C514.449 128.55 514.769 128.15 514.979 127.63V126.34H512.504C511.154 126.34 510.479 126.81 510.479 127.75C510.479 128.21 510.654 128.575 511.004 128.845C511.354 129.105 511.844 129.235 512.474 129.235ZM522.704 122.305C523.434 122.305 524.084 122.47 524.654 122.8C525.234 123.12 525.684 123.575 526.004 124.165C526.324 124.745 526.484 125.41 526.484 126.16C526.484 126.93 526.314 127.615 525.974 128.215C525.644 128.805 525.179 129.265 524.579 129.595C523.979 129.925 523.289 130.09 522.509 130.09C521.199 130.09 520.184 129.63 519.464 128.71C518.744 127.79 518.384 126.52 518.384 124.9C518.384 123.21 518.704 121.915 519.344 121.015C519.994 120.115 521.004 119.505 522.374 119.185L525.914 118.375L526.094 119.35L522.764 120.115C521.634 120.365 520.804 120.81 520.274 121.45C519.744 122.08 519.454 123.015 519.404 124.255C519.724 123.645 520.169 123.17 520.739 122.83C521.309 122.48 521.964 122.305 522.704 122.305ZM522.539 129.205C523.089 129.205 523.579 129.08 524.009 128.83C524.449 128.57 524.789 128.21 525.029 127.75C525.279 127.29 525.404 126.77 525.404 126.19C525.404 125.61 525.284 125.1 525.044 124.66C524.804 124.22 524.464 123.88 524.024 123.64C523.594 123.39 523.099 123.265 522.539 123.265C521.979 123.265 521.479 123.39 521.039 123.64C520.609 123.88 520.269 124.22 520.019 124.66C519.779 125.1 519.659 125.61 519.659 126.19C519.659 126.77 519.779 127.29 520.019 127.75C520.269 128.21 520.614 128.57 521.054 128.83C521.494 129.08 521.989 129.205 522.539 129.205ZM532.022 130.075C531.262 130.075 530.577 129.905 529.967 129.565C529.357 129.215 528.877 128.735 528.527 128.125C528.177 127.515 528.002 126.825 528.002 126.055C528.002 125.285 528.177 124.595 528.527 123.985C528.877 123.375 529.357 122.9 529.967 122.56C530.577 122.22 531.262 122.05 532.022 122.05C532.782 122.05 533.467 122.22 534.077 122.56C534.687 122.9 535.162 123.375 535.502 123.985C535.852 124.595 536.027 125.285 536.027 126.055C536.027 126.825 535.852 127.515 535.502 128.125C535.162 128.735 534.687 129.215 534.077 129.565C533.467 129.905 532.782 130.075 532.022 130.075ZM532.022 129.13C532.582 129.13 533.082 129.005 533.522 128.755C533.972 128.495 534.322 128.13 534.572 127.66C534.822 127.19 534.947 126.655 534.947 126.055C534.947 125.455 534.822 124.92 534.572 124.45C534.322 123.98 533.972 123.62 533.522 123.37C533.082 123.11 532.582 122.98 532.022 122.98C531.462 122.98 530.957 123.11 530.507 123.37C530.067 123.62 529.717 123.98 529.457 124.45C529.207 124.92 529.082 125.455 529.082 126.055C529.082 126.655 529.207 127.19 529.457 127.66C529.717 128.13 530.067 128.495 530.507 128.755C530.957 129.005 531.462 129.13 532.022 129.13ZM543.56 123.055H540.575V130H539.51V123.055H536.525V122.11H543.56V123.055ZM548.415 124.9C549.405 124.91 550.16 125.13 550.68 125.56C551.2 125.99 551.46 126.61 551.46 127.42C551.46 128.26 551.18 128.905 550.62 129.355C550.06 129.805 549.26 130.025 548.22 130.015L545.1 130V122.11H546.165V124.87L548.415 124.9ZM552.78 122.11H553.845V130H552.78V122.11ZM548.16 129.205C548.89 129.215 549.44 129.07 549.81 128.77C550.19 128.46 550.38 128.01 550.38 127.42C550.38 126.84 550.195 126.41 549.825 126.13C549.455 125.85 548.9 125.705 548.16 125.695L546.165 125.665V129.175L548.16 129.205ZM564.628 122.305C565.358 122.305 566.008 122.47 566.578 122.8C567.158 123.12 567.608 123.575 567.928 124.165C568.248 124.745 568.408 125.41 568.408 126.16C568.408 126.93 568.238 127.615 567.898 128.215C567.568 128.805 567.103 129.265 566.503 129.595C565.903 129.925 565.213 130.09 564.433 130.09C563.123 130.09 562.108 129.63 561.388 128.71C560.668 127.79 560.308 126.52 560.308 124.9C560.308 123.21 560.628 121.915 561.268 121.015C561.918 120.115 562.928 119.505 564.298 119.185L567.838 118.375L568.018 119.35L564.688 120.115C563.558 120.365 562.728 120.81 562.198 121.45C561.668 122.08 561.378 123.015 561.328 124.255C561.648 123.645 562.093 123.17 562.663 122.83C563.233 122.48 563.888 122.305 564.628 122.305ZM564.463 129.205C565.013 129.205 565.503 129.08 565.933 128.83C566.373 128.57 566.713 128.21 566.953 127.75C567.203 127.29 567.328 126.77 567.328 126.19C567.328 125.61 567.208 125.1 566.968 124.66C566.728 124.22 566.388 123.88 565.948 123.64C565.518 123.39 565.023 123.265 564.463 123.265C563.903 123.265 563.403 123.39 562.963 123.64C562.533 123.88 562.193 124.22 561.943 124.66C561.703 125.1 561.583 125.61 561.583 126.19C561.583 126.77 561.703 127.29 561.943 127.75C562.193 128.21 562.538 128.57 562.978 128.83C563.418 129.08 563.913 129.205 564.463 129.205ZM577.591 126.385H570.991C571.051 127.205 571.366 127.87 571.936 128.38C572.506 128.88 573.226 129.13 574.096 129.13C574.586 129.13 575.036 129.045 575.446 128.875C575.856 128.695 576.211 128.435 576.511 128.095L577.111 128.785C576.761 129.205 576.321 129.525 575.791 129.745C575.271 129.965 574.696 130.075 574.066 130.075C573.256 130.075 572.536 129.905 571.906 129.565C571.286 129.215 570.801 128.735 570.451 128.125C570.101 127.515 569.926 126.825 569.926 126.055C569.926 125.285 570.091 124.595 570.421 123.985C570.761 123.375 571.221 122.9 571.801 122.56C572.391 122.22 573.051 122.05 573.781 122.05C574.511 122.05 575.166 122.22 575.746 122.56C576.326 122.9 576.781 123.375 577.111 123.985C577.441 124.585 577.606 125.275 577.606 126.055L577.591 126.385ZM573.781 122.965C573.021 122.965 572.381 123.21 571.861 123.7C571.351 124.18 571.061 124.81 570.991 125.59H576.586C576.516 124.81 576.221 124.18 575.701 123.7C575.191 123.21 574.551 122.965 573.781 122.965ZM583.584 125.89C584.144 126.02 584.574 126.245 584.874 126.565C585.184 126.885 585.339 127.275 585.339 127.735C585.339 128.195 585.179 128.605 584.859 128.965C584.549 129.325 584.124 129.605 583.584 129.805C583.044 129.995 582.449 130.09 581.799 130.09C581.229 130.09 580.669 130.01 580.119 129.85C579.569 129.68 579.089 129.435 578.679 129.115L579.039 128.32C579.399 128.59 579.819 128.8 580.299 128.95C580.779 129.1 581.264 129.175 581.754 129.175C582.484 129.175 583.079 129.04 583.539 128.77C584.009 128.49 584.244 128.115 584.244 127.645C584.244 127.225 584.054 126.9 583.674 126.67C583.294 126.43 582.774 126.31 582.114 126.31H580.764V125.53H582.054C582.644 125.53 583.119 125.42 583.479 125.2C583.839 124.97 584.019 124.665 584.019 124.285C584.019 123.865 583.814 123.535 583.404 123.295C583.004 123.055 582.479 122.935 581.829 122.935C580.979 122.935 580.139 123.15 579.309 123.58L579.009 122.755C579.949 122.265 580.924 122.02 581.934 122.02C582.534 122.02 583.074 122.11 583.554 122.29C584.044 122.46 584.424 122.705 584.694 123.025C584.974 123.345 585.114 123.715 585.114 124.135C585.114 124.535 584.974 124.89 584.694 125.2C584.424 125.51 584.054 125.74 583.584 125.89ZM598.762 122.11V130H597.697V123.055H592.747V130H591.682V122.11H598.762ZM608.689 126.385H602.089C602.149 127.205 602.464 127.87 603.034 128.38C603.604 128.88 604.324 129.13 605.194 129.13C605.684 129.13 606.134 129.045 606.544 128.875C606.954 128.695 607.309 128.435 607.609 128.095L608.209 128.785C607.859 129.205 607.419 129.525 606.889 129.745C606.369 129.965 605.794 130.075 605.164 130.075C604.354 130.075 603.634 129.905 603.004 129.565C602.384 129.215 601.899 128.735 601.549 128.125C601.199 127.515 601.024 126.825 601.024 126.055C601.024 125.285 601.189 124.595 601.519 123.985C601.859 123.375 602.319 122.9 602.899 122.56C603.489 122.22 604.149 122.05 604.879 122.05C605.609 122.05 606.264 122.22 606.844 122.56C607.424 122.9 607.879 123.375 608.209 123.985C608.539 124.585 608.704 125.275 608.704 126.055L608.689 126.385ZM604.879 122.965C604.119 122.965 603.479 123.21 602.959 123.7C602.449 124.18 602.159 124.81 602.089 125.59H607.684C607.614 124.81 607.319 124.18 606.799 123.7C606.289 123.21 605.649 122.965 604.879 122.965ZM615.127 122.05C615.867 122.05 616.537 122.22 617.137 122.56C617.737 122.89 618.207 123.36 618.547 123.97C618.887 124.58 619.057 125.275 619.057 126.055C619.057 126.845 618.887 127.545 618.547 128.155C618.207 128.765 617.737 129.24 617.137 129.58C616.547 129.91 615.877 130.075 615.127 130.075C614.487 130.075 613.907 129.945 613.387 129.685C612.877 129.415 612.457 129.025 612.127 128.515V132.91H611.062V122.11H612.082V123.67C612.402 123.15 612.822 122.75 613.342 122.47C613.872 122.19 614.467 122.05 615.127 122.05ZM615.052 129.13C615.602 129.13 616.102 129.005 616.552 128.755C617.002 128.495 617.352 128.13 617.602 127.66C617.862 127.19 617.992 126.655 617.992 126.055C617.992 125.455 617.862 124.925 617.602 124.465C617.352 123.995 617.002 123.63 616.552 123.37C616.102 123.11 615.602 122.98 615.052 122.98C614.492 122.98 613.987 123.11 613.537 123.37C613.097 123.63 612.747 123.995 612.487 124.465C612.237 124.925 612.112 125.455 612.112 126.055C612.112 126.655 612.237 127.19 612.487 127.66C612.747 128.13 613.097 128.495 613.537 128.755C613.987 129.005 614.492 129.13 615.052 129.13ZM628.245 126.385H621.645C621.705 127.205 622.02 127.87 622.59 128.38C623.16 128.88 623.88 129.13 624.75 129.13C625.24 129.13 625.69 129.045 626.1 128.875C626.51 128.695 626.865 128.435 627.165 128.095L627.765 128.785C627.415 129.205 626.975 129.525 626.445 129.745C625.925 129.965 625.35 130.075 624.72 130.075C623.91 130.075 623.19 129.905 622.56 129.565C621.94 129.215 621.455 128.735 621.105 128.125C620.755 127.515 620.58 126.825 620.58 126.055C620.58 125.285 620.745 124.595 621.075 123.985C621.415 123.375 621.875 122.9 622.455 122.56C623.045 122.22 623.705 122.05 624.435 122.05C625.165 122.05 625.82 122.22 626.4 122.56C626.98 122.9 627.435 123.375 627.765 123.985C628.095 124.585 628.26 125.275 628.26 126.055L628.245 126.385ZM624.435 122.965C623.675 122.965 623.035 123.21 622.515 123.7C622.005 124.18 621.715 124.81 621.645 125.59H627.24C627.17 124.81 626.875 124.18 626.355 123.7C625.845 123.21 625.205 122.965 624.435 122.965ZM634.683 122.05C635.423 122.05 636.093 122.22 636.693 122.56C637.293 122.89 637.763 123.36 638.103 123.97C638.443 124.58 638.613 125.275 638.613 126.055C638.613 126.845 638.443 127.545 638.103 128.155C637.763 128.765 637.293 129.24 636.693 129.58C636.103 129.91 635.433 130.075 634.683 130.075C634.043 130.075 633.463 129.945 632.943 129.685C632.433 129.415 632.013 129.025 631.683 128.515V132.91H630.618V122.11H631.638V123.67C631.958 123.15 632.378 122.75 632.898 122.47C633.428 122.19 634.023 122.05 634.683 122.05ZM634.608 129.13C635.158 129.13 635.658 129.005 636.108 128.755C636.558 128.495 636.908 128.13 637.158 127.66C637.418 127.19 637.548 126.655 637.548 126.055C637.548 125.455 637.418 124.925 637.158 124.465C636.908 123.995 636.558 123.63 636.108 123.37C635.658 123.11 635.158 122.98 634.608 122.98C634.048 122.98 633.543 123.11 633.093 123.37C632.653 123.63 632.303 123.995 632.043 124.465C631.793 124.925 631.668 125.455 631.668 126.055C631.668 126.655 631.793 127.19 632.043 127.66C632.303 128.13 632.653 128.495 633.093 128.755C633.543 129.005 634.048 129.13 634.608 129.13ZM644.216 124.9C645.206 124.91 645.961 125.13 646.481 125.56C647.001 125.99 647.261 126.61 647.261 127.42C647.261 128.26 646.981 128.905 646.421 129.355C645.861 129.805 645.061 130.025 644.021 130.015L640.901 130V122.11H641.966V124.87L644.216 124.9ZM648.581 122.11H649.646V130H648.581V122.11ZM643.961 129.205C644.691 129.215 645.241 129.07 645.611 128.77C645.991 128.46 646.181 128.01 646.181 127.42C646.181 126.84 645.996 126.41 645.626 126.13C645.256 125.85 644.701 125.705 643.961 125.695L641.966 125.665V129.175L643.961 129.205ZM657.703 125.92C658.773 126.17 659.308 126.815 659.308 127.855C659.308 128.545 659.053 129.075 658.543 129.445C658.033 129.815 657.273 130 656.263 130H652.678V122.11H656.158C657.058 122.11 657.763 122.285 658.273 122.635C658.783 122.985 659.038 123.485 659.038 124.135C659.038 124.565 658.918 124.935 658.678 125.245C658.448 125.545 658.123 125.77 657.703 125.92ZM653.713 125.62H656.083C656.693 125.62 657.158 125.505 657.478 125.275C657.808 125.045 657.973 124.71 657.973 124.27C657.973 123.83 657.808 123.5 657.478 123.28C657.158 123.06 656.693 122.95 656.083 122.95H653.713V125.62ZM656.218 129.16C656.898 129.16 657.408 129.05 657.748 128.83C658.088 128.61 658.258 128.265 658.258 127.795C658.258 127.325 658.103 126.98 657.793 126.76C657.483 126.53 656.993 126.415 656.323 126.415H653.713V129.16H656.218ZM665.059 130.075C664.299 130.075 663.614 129.905 663.004 129.565C662.394 129.215 661.914 128.735 661.564 128.125C661.214 127.515 661.039 126.825 661.039 126.055C661.039 125.285 661.214 124.595 661.564 123.985C661.914 123.375 662.394 122.9 663.004 122.56C663.614 122.22 664.299 122.05 665.059 122.05C665.819 122.05 666.504 122.22 667.114 122.56C667.724 122.9 668.199 123.375 668.539 123.985C668.889 124.595 669.064 125.285 669.064 126.055C669.064 126.825 668.889 127.515 668.539 128.125C668.199 128.735 667.724 129.215 667.114 129.565C666.504 129.905 665.819 130.075 665.059 130.075ZM665.059 129.13C665.619 129.13 666.119 129.005 666.559 128.755C667.009 128.495 667.359 128.13 667.609 127.66C667.859 127.19 667.984 126.655 667.984 126.055C667.984 125.455 667.859 124.92 667.609 124.45C667.359 123.98 667.009 123.62 666.559 123.37C666.119 123.11 665.619 122.98 665.059 122.98C664.499 122.98 663.994 123.11 663.544 123.37C663.104 123.62 662.754 123.98 662.494 124.45C662.244 124.92 662.119 125.455 662.119 126.055C662.119 126.655 662.244 127.19 662.494 127.66C662.754 128.13 663.104 128.495 663.544 128.755C663.994 129.005 664.499 129.13 665.059 129.13ZM676.365 125.92C677.435 126.17 677.97 126.815 677.97 127.855C677.97 128.545 677.715 129.075 677.205 129.445C676.695 129.815 675.935 130 674.925 130H671.34V122.11H674.82C675.72 122.11 676.425 122.285 676.935 122.635C677.445 122.985 677.7 123.485 677.7 124.135C677.7 124.565 677.58 124.935 677.34 125.245C677.11 125.545 676.785 125.77 676.365 125.92ZM672.375 125.62H674.745C675.355 125.62 675.82 125.505 676.14 125.275C676.47 125.045 676.635 124.71 676.635 124.27C676.635 123.83 676.47 123.5 676.14 123.28C675.82 123.06 675.355 122.95 674.745 122.95H672.375V125.62ZM674.88 129.16C675.56 129.16 676.07 129.05 676.41 128.83C676.75 128.61 676.92 128.265 676.92 127.795C676.92 127.325 676.765 126.98 676.455 126.76C676.145 126.53 675.655 126.415 674.985 126.415H672.375V129.16H674.88Z"
                        fill="black" />
                    <line x1="584.893" y1="80.5115" x2="796.848" y2="34.3033" stroke="black" />
                    <path
                        d="M818.37 49.68V57H795.93V51.2L806.05 41.84C806.93 41.0133 807.517 40.3067 807.81 39.72C808.103 39.1333 808.25 38.56 808.25 38C808.25 37.3067 808.01 36.7733 807.53 36.4C807.077 36 806.41 35.8 805.53 35.8C804.677 35.8 803.877 36.0267 803.13 36.48C802.383 36.9333 801.81 37.5733 801.41 38.4L794.29 34.84C795.357 32.84 796.917 31.2667 798.97 30.12C801.023 28.9467 803.503 28.36 806.41 28.36C808.623 28.36 810.583 28.72 812.29 29.44C813.997 30.16 815.33 31.1867 816.29 32.52C817.25 33.8533 817.73 35.3867 817.73 37.12C817.73 38.6667 817.397 40.12 816.73 41.48C816.09 42.8133 814.823 44.3333 812.93 46.04L808.93 49.68H818.37ZM831.746 38.88C835.666 38.88 838.546 39.7067 840.386 41.36C842.253 42.9867 843.186 45.1333 843.186 47.8C843.186 49.56 842.719 51.1867 841.786 52.68C840.879 54.1467 839.466 55.3467 837.546 56.28C835.626 57.1867 833.239 57.64 830.386 57.64C828.413 57.64 826.439 57.4267 824.466 57C822.519 56.5733 820.813 55.9467 819.346 55.12L822.546 48.16C823.719 48.8267 824.946 49.3333 826.226 49.68C827.533 50.0267 828.799 50.2 830.026 50.2C831.119 50.2 831.999 50.0133 832.666 49.64C833.359 49.24 833.706 48.6933 833.706 48C833.706 47.3333 833.399 46.84 832.786 46.52C832.173 46.1733 831.066 46 829.466 46H821.346L822.746 29H841.346V36.12H830.506L830.306 38.88H831.746ZM857.752 57.64C855.272 57.64 853.072 57.0667 851.152 55.92C849.258 54.7467 847.765 53.0667 846.672 50.88C845.605 48.6667 845.072 46.04 845.072 43C845.072 39.96 845.605 37.3467 846.672 35.16C847.765 32.9467 849.258 31.2667 851.152 30.12C853.072 28.9467 855.272 28.36 857.752 28.36C860.232 28.36 862.418 28.9467 864.312 30.12C866.232 31.2667 867.725 32.9467 868.792 35.16C869.885 37.3467 870.432 39.96 870.432 43C870.432 46.04 869.885 48.6667 868.792 50.88C867.725 53.0667 866.232 54.7467 864.312 55.92C862.418 57.0667 860.232 57.64 857.752 57.64ZM857.752 50.08C859.885 50.08 860.952 47.72 860.952 43C860.952 38.28 859.885 35.92 857.752 35.92C855.618 35.92 854.552 38.28 854.552 43C854.552 47.72 855.618 50.08 857.752 50.08Z"
                        fill="black" />
                    <path
                        d="M741.45 4.46H737.76V14H736.665V4.46H732.975V3.5H741.45V4.46ZM745.578 14.075C744.818 14.075 744.133 13.905 743.523 13.565C742.913 13.215 742.433 12.735 742.083 12.125C741.733 11.515 741.558 10.825 741.558 10.055C741.558 9.285 741.733 8.595 742.083 7.985C742.433 7.375 742.913 6.9 743.523 6.56C744.133 6.22 744.818 6.05 745.578 6.05C746.338 6.05 747.023 6.22 747.633 6.56C748.243 6.9 748.718 7.375 749.058 7.985C749.408 8.595 749.583 9.285 749.583 10.055C749.583 10.825 749.408 11.515 749.058 12.125C748.718 12.735 748.243 13.215 747.633 13.565C747.023 13.905 746.338 14.075 745.578 14.075ZM745.578 13.13C746.138 13.13 746.638 13.005 747.078 12.755C747.528 12.495 747.878 12.13 748.128 11.66C748.378 11.19 748.503 10.655 748.503 10.055C748.503 9.455 748.378 8.92 748.128 8.45C747.878 7.98 747.528 7.62 747.078 7.37C746.638 7.11 746.138 6.98 745.578 6.98C745.018 6.98 744.513 7.11 744.063 7.37C743.623 7.62 743.273 7.98 743.013 8.45C742.763 8.92 742.638 9.455 742.638 10.055C742.638 10.655 742.763 11.19 743.013 11.66C743.273 12.13 743.623 12.495 744.063 12.755C744.513 13.005 745.018 13.13 745.578 13.13ZM756.884 9.92C757.954 10.17 758.489 10.815 758.489 11.855C758.489 12.545 758.234 13.075 757.724 13.445C757.214 13.815 756.454 14 755.444 14H751.859V6.11H755.339C756.239 6.11 756.944 6.285 757.454 6.635C757.964 6.985 758.219 7.485 758.219 8.135C758.219 8.565 758.099 8.935 757.859 9.245C757.629 9.545 757.304 9.77 756.884 9.92ZM752.894 9.62H755.264C755.874 9.62 756.339 9.505 756.659 9.275C756.989 9.045 757.154 8.71 757.154 8.27C757.154 7.83 756.989 7.5 756.659 7.28C756.339 7.06 755.874 6.95 755.264 6.95H752.894V9.62ZM755.399 13.16C756.079 13.16 756.589 13.05 756.929 12.83C757.269 12.61 757.439 12.265 757.439 11.795C757.439 11.325 757.284 10.98 756.974 10.76C756.664 10.53 756.174 10.415 755.504 10.415H752.894V13.16H755.399ZM763.7 6.05C764.73 6.05 765.52 6.31 766.07 6.83C766.62 7.34 766.895 8.1 766.895 9.11V14H765.875V12.77C765.635 13.18 765.28 13.5 764.81 13.73C764.35 13.96 763.8 14.075 763.16 14.075C762.28 14.075 761.58 13.865 761.06 13.445C760.54 13.025 760.28 12.47 760.28 11.78C760.28 11.11 760.52 10.57 761 10.16C761.49 9.75 762.265 9.545 763.325 9.545H765.83V9.065C765.83 8.385 765.64 7.87 765.26 7.52C764.88 7.16 764.325 6.98 763.595 6.98C763.095 6.98 762.615 7.065 762.155 7.235C761.695 7.395 761.3 7.62 760.97 7.91L760.49 7.115C760.89 6.775 761.37 6.515 761.93 6.335C762.49 6.145 763.08 6.05 763.7 6.05ZM763.325 13.235C763.925 13.235 764.44 13.1 764.87 12.83C765.3 12.55 765.62 12.15 765.83 11.63V10.34H763.355C762.005 10.34 761.33 10.81 761.33 11.75C761.33 12.21 761.505 12.575 761.855 12.845C762.205 13.105 762.695 13.235 763.325 13.235ZM773.795 6.05C774.535 6.05 775.205 6.22 775.805 6.56C776.405 6.89 776.875 7.36 777.215 7.97C777.555 8.58 777.725 9.275 777.725 10.055C777.725 10.845 777.555 11.545 777.215 12.155C776.875 12.765 776.405 13.24 775.805 13.58C775.215 13.91 774.545 14.075 773.795 14.075C773.155 14.075 772.575 13.945 772.055 13.685C771.545 13.415 771.125 13.025 770.795 12.515V16.91H769.73V6.11H770.75V7.67C771.07 7.15 771.49 6.75 772.01 6.47C772.54 6.19 773.135 6.05 773.795 6.05ZM773.72 13.13C774.27 13.13 774.77 13.005 775.22 12.755C775.67 12.495 776.02 12.13 776.27 11.66C776.53 11.19 776.66 10.655 776.66 10.055C776.66 9.455 776.53 8.925 776.27 8.465C776.02 7.995 775.67 7.63 775.22 7.37C774.77 7.11 774.27 6.98 773.72 6.98C773.16 6.98 772.655 7.11 772.205 7.37C771.765 7.63 771.415 7.995 771.155 8.465C770.905 8.925 770.78 9.455 770.78 10.055C770.78 10.655 770.905 11.19 771.155 11.66C771.415 12.13 771.765 12.495 772.205 12.755C772.655 13.005 773.16 13.13 773.72 13.13ZM783.269 14.075C782.509 14.075 781.824 13.905 781.214 13.565C780.604 13.215 780.124 12.735 779.774 12.125C779.424 11.515 779.249 10.825 779.249 10.055C779.249 9.285 779.424 8.595 779.774 7.985C780.124 7.375 780.604 6.9 781.214 6.56C781.824 6.22 782.509 6.05 783.269 6.05C784.029 6.05 784.714 6.22 785.324 6.56C785.934 6.9 786.409 7.375 786.749 7.985C787.099 8.595 787.274 9.285 787.274 10.055C787.274 10.825 787.099 11.515 786.749 12.125C786.409 12.735 785.934 13.215 785.324 13.565C784.714 13.905 784.029 14.075 783.269 14.075ZM783.269 13.13C783.829 13.13 784.329 13.005 784.769 12.755C785.219 12.495 785.569 12.13 785.819 11.66C786.069 11.19 786.194 10.655 786.194 10.055C786.194 9.455 786.069 8.92 785.819 8.45C785.569 7.98 785.219 7.62 784.769 7.37C784.329 7.11 783.829 6.98 783.269 6.98C782.709 6.98 782.204 7.11 781.754 7.37C781.314 7.62 780.964 7.98 780.704 8.45C780.454 8.92 780.329 9.455 780.329 10.055C780.329 10.655 780.454 11.19 780.704 11.66C780.964 12.13 781.314 12.495 781.754 12.755C782.204 13.005 782.709 13.13 783.269 13.13ZM794.575 9.92C795.645 10.17 796.18 10.815 796.18 11.855C796.18 12.545 795.925 13.075 795.415 13.445C794.905 13.815 794.145 14 793.135 14H789.55V6.11H793.03C793.93 6.11 794.635 6.285 795.145 6.635C795.655 6.985 795.91 7.485 795.91 8.135C795.91 8.565 795.79 8.935 795.55 9.245C795.32 9.545 794.995 9.77 794.575 9.92ZM790.585 9.62H792.955C793.565 9.62 794.03 9.505 794.35 9.275C794.68 9.045 794.845 8.71 794.845 8.27C794.845 7.83 794.68 7.5 794.35 7.28C794.03 7.06 793.565 6.95 792.955 6.95H790.585V9.62ZM793.09 13.16C793.77 13.16 794.28 13.05 794.62 12.83C794.96 12.61 795.13 12.265 795.13 11.795C795.13 11.325 794.975 10.98 794.665 10.76C794.355 10.53 793.865 10.415 793.195 10.415H790.585V13.16H793.09ZM807.626 9.92C808.696 10.17 809.231 10.815 809.231 11.855C809.231 12.545 808.976 13.075 808.466 13.445C807.956 13.815 807.196 14 806.186 14H802.601V6.11H806.081C806.981 6.11 807.686 6.285 808.196 6.635C808.706 6.985 808.961 7.485 808.961 8.135C808.961 8.565 808.841 8.935 808.601 9.245C808.371 9.545 808.046 9.77 807.626 9.92ZM803.636 9.62H806.006C806.616 9.62 807.081 9.505 807.401 9.275C807.731 9.045 807.896 8.71 807.896 8.27C807.896 7.83 807.731 7.5 807.401 7.28C807.081 7.06 806.616 6.95 806.006 6.95H803.636V9.62ZM806.141 13.16C806.821 13.16 807.331 13.05 807.671 12.83C808.011 12.61 808.181 12.265 808.181 11.795C808.181 11.325 808.026 10.98 807.716 10.76C807.406 10.53 806.916 10.415 806.246 10.415H803.636V13.16H806.141ZM818.518 10.49H816.718V14H815.653V6.11H816.718V9.575H818.533L821.308 6.11H822.463L819.358 9.935L822.688 14H821.428L818.518 10.49ZM826.938 6.05C827.968 6.05 828.758 6.31 829.308 6.83C829.858 7.34 830.133 8.1 830.133 9.11V14H829.113V12.77C828.873 13.18 828.518 13.5 828.048 13.73C827.588 13.96 827.038 14.075 826.398 14.075C825.518 14.075 824.818 13.865 824.298 13.445C823.778 13.025 823.518 12.47 823.518 11.78C823.518 11.11 823.758 10.57 824.238 10.16C824.728 9.75 825.503 9.545 826.563 9.545H829.068V9.065C829.068 8.385 828.878 7.87 828.498 7.52C828.118 7.16 827.563 6.98 826.833 6.98C826.333 6.98 825.853 7.065 825.393 7.235C824.933 7.395 824.538 7.62 824.208 7.91L823.728 7.115C824.128 6.775 824.608 6.515 825.168 6.335C825.728 6.145 826.318 6.05 826.938 6.05ZM826.563 13.235C827.163 13.235 827.678 13.1 828.108 12.83C828.538 12.55 828.858 12.15 829.068 11.63V10.34H826.593C825.243 10.34 824.568 10.81 824.568 11.75C824.568 12.21 824.743 12.575 825.093 12.845C825.443 13.105 825.933 13.235 826.563 13.235ZM838.518 7.055H835.533V14H834.468V7.055H831.483V6.11H838.518V7.055ZM842.772 6.05C843.802 6.05 844.592 6.31 845.142 6.83C845.692 7.34 845.967 8.1 845.967 9.11V14H844.947V12.77C844.707 13.18 844.352 13.5 843.882 13.73C843.422 13.96 842.872 14.075 842.232 14.075C841.352 14.075 840.652 13.865 840.132 13.445C839.612 13.025 839.352 12.47 839.352 11.78C839.352 11.11 839.592 10.57 840.072 10.16C840.562 9.75 841.337 9.545 842.397 9.545H844.902V9.065C844.902 8.385 844.712 7.87 844.332 7.52C843.952 7.16 843.397 6.98 842.667 6.98C842.167 6.98 841.687 7.065 841.227 7.235C840.767 7.395 840.372 7.62 840.042 7.91L839.562 7.115C839.962 6.775 840.442 6.515 841.002 6.335C841.562 6.145 842.152 6.05 842.772 6.05ZM842.397 13.235C842.997 13.235 843.512 13.1 843.942 12.83C844.372 12.55 844.692 12.15 844.902 11.63V10.34H842.427C841.077 10.34 840.402 10.81 840.402 11.75C840.402 12.21 840.577 12.575 840.927 12.845C841.277 13.105 841.767 13.235 842.397 13.235ZM855.253 6.11V14H854.188V7.055H850.408L850.303 9.005C850.223 10.645 850.033 11.905 849.733 12.785C849.433 13.665 848.898 14.105 848.128 14.105C847.918 14.105 847.663 14.065 847.363 13.985L847.438 13.07C847.618 13.11 847.743 13.13 847.813 13.13C848.223 13.13 848.533 12.94 848.743 12.56C848.953 12.18 849.093 11.71 849.163 11.15C849.233 10.59 849.293 9.85 849.343 8.93L849.478 6.11H855.253ZM861.535 14.075C860.775 14.075 860.09 13.905 859.48 13.565C858.87 13.215 858.39 12.735 858.04 12.125C857.69 11.515 857.515 10.825 857.515 10.055C857.515 9.285 857.69 8.595 858.04 7.985C858.39 7.375 858.87 6.9 859.48 6.56C860.09 6.22 860.775 6.05 861.535 6.05C862.295 6.05 862.98 6.22 863.59 6.56C864.2 6.9 864.675 7.375 865.015 7.985C865.365 8.595 865.54 9.285 865.54 10.055C865.54 10.825 865.365 11.515 865.015 12.125C864.675 12.735 864.2 13.215 863.59 13.565C862.98 13.905 862.295 14.075 861.535 14.075ZM861.535 13.13C862.095 13.13 862.595 13.005 863.035 12.755C863.485 12.495 863.835 12.13 864.085 11.66C864.335 11.19 864.46 10.655 864.46 10.055C864.46 9.455 864.335 8.92 864.085 8.45C863.835 7.98 863.485 7.62 863.035 7.37C862.595 7.11 862.095 6.98 861.535 6.98C860.975 6.98 860.47 7.11 860.02 7.37C859.58 7.62 859.23 7.98 858.97 8.45C858.72 8.92 858.595 9.455 858.595 10.055C858.595 10.655 858.72 11.19 858.97 11.66C859.23 12.13 859.58 12.495 860.02 12.755C860.47 13.005 860.975 13.13 861.535 13.13ZM873.396 7.055H868.881V14H867.816V6.11H873.396V7.055ZM881.469 10.385H874.869C874.929 11.205 875.244 11.87 875.814 12.38C876.384 12.88 877.104 13.13 877.974 13.13C878.464 13.13 878.914 13.045 879.324 12.875C879.734 12.695 880.089 12.435 880.389 12.095L880.989 12.785C880.639 13.205 880.199 13.525 879.669 13.745C879.149 13.965 878.574 14.075 877.944 14.075C877.134 14.075 876.414 13.905 875.784 13.565C875.164 13.215 874.679 12.735 874.329 12.125C873.979 11.515 873.804 10.825 873.804 10.055C873.804 9.285 873.969 8.595 874.299 7.985C874.639 7.375 875.099 6.9 875.679 6.56C876.269 6.22 876.929 6.05 877.659 6.05C878.389 6.05 879.044 6.22 879.624 6.56C880.204 6.9 880.659 7.375 880.989 7.985C881.319 8.585 881.484 9.275 881.484 10.055L881.469 10.385ZM877.659 6.965C876.899 6.965 876.259 7.21 875.739 7.7C875.229 8.18 874.939 8.81 874.869 9.59H880.464C880.394 8.81 880.099 8.18 879.579 7.7C879.069 7.21 878.429 6.965 877.659 6.965ZM891.592 6.305C892.322 6.305 892.972 6.47 893.542 6.8C894.122 7.12 894.572 7.575 894.892 8.165C895.212 8.745 895.372 9.41 895.372 10.16C895.372 10.93 895.202 11.615 894.862 12.215C894.532 12.805 894.067 13.265 893.467 13.595C892.867 13.925 892.177 14.09 891.397 14.09C890.087 14.09 889.072 13.63 888.352 12.71C887.632 11.79 887.272 10.52 887.272 8.9C887.272 7.21 887.592 5.915 888.232 5.015C888.882 4.115 889.892 3.505 891.262 3.185L894.802 2.375L894.982 3.35L891.652 4.115C890.522 4.365 889.692 4.81 889.162 5.45C888.632 6.08 888.342 7.015 888.292 8.255C888.612 7.645 889.057 7.17 889.627 6.83C890.197 6.48 890.852 6.305 891.592 6.305ZM891.427 13.205C891.977 13.205 892.467 13.08 892.897 12.83C893.337 12.57 893.677 12.21 893.917 11.75C894.167 11.29 894.292 10.77 894.292 10.19C894.292 9.61 894.172 9.1 893.932 8.66C893.692 8.22 893.352 7.88 892.912 7.64C892.482 7.39 891.987 7.265 891.427 7.265C890.867 7.265 890.367 7.39 889.927 7.64C889.497 7.88 889.157 8.22 888.907 8.66C888.667 9.1 888.547 9.61 888.547 10.19C888.547 10.77 888.667 11.29 888.907 11.75C889.157 12.21 889.502 12.57 889.942 12.83C890.382 13.08 890.877 13.205 891.427 13.205ZM900.91 14.075C900.15 14.075 899.465 13.905 898.855 13.565C898.245 13.215 897.765 12.735 897.415 12.125C897.065 11.515 896.89 10.825 896.89 10.055C896.89 9.285 897.065 8.595 897.415 7.985C897.765 7.375 898.245 6.9 898.855 6.56C899.465 6.22 900.15 6.05 900.91 6.05C901.67 6.05 902.355 6.22 902.965 6.56C903.575 6.9 904.05 7.375 904.39 7.985C904.74 8.595 904.915 9.285 904.915 10.055C904.915 10.825 904.74 11.515 904.39 12.125C904.05 12.735 903.575 13.215 902.965 13.565C902.355 13.905 901.67 14.075 900.91 14.075ZM900.91 13.13C901.47 13.13 901.97 13.005 902.41 12.755C902.86 12.495 903.21 12.13 903.46 11.66C903.71 11.19 903.835 10.655 903.835 10.055C903.835 9.455 903.71 8.92 903.46 8.45C903.21 7.98 902.86 7.62 902.41 7.37C901.97 7.11 901.47 6.98 900.91 6.98C900.35 6.98 899.845 7.11 899.395 7.37C898.955 7.62 898.605 7.98 898.345 8.45C898.095 8.92 897.97 9.455 897.97 10.055C897.97 10.655 898.095 11.19 898.345 11.66C898.605 12.13 898.955 12.495 899.395 12.755C899.845 13.005 900.35 13.13 900.91 13.13ZM913.597 6.11V14H912.532V7.055H908.752L908.647 9.005C908.567 10.645 908.377 11.905 908.077 12.785C907.777 13.665 907.242 14.105 906.472 14.105C906.262 14.105 906.007 14.065 905.707 13.985L905.782 13.07C905.962 13.11 906.087 13.13 906.157 13.13C906.567 13.13 906.877 12.94 907.087 12.56C907.297 12.18 907.437 11.71 907.507 11.15C907.577 10.59 907.637 9.85 907.687 8.93L907.822 6.11H913.597ZM923.525 10.385H916.925C916.985 11.205 917.3 11.87 917.87 12.38C918.44 12.88 919.16 13.13 920.03 13.13C920.52 13.13 920.97 13.045 921.38 12.875C921.79 12.695 922.145 12.435 922.445 12.095L923.045 12.785C922.695 13.205 922.255 13.525 921.725 13.745C921.205 13.965 920.63 14.075 920 14.075C919.19 14.075 918.47 13.905 917.84 13.565C917.22 13.215 916.735 12.735 916.385 12.125C916.035 11.515 915.86 10.825 915.86 10.055C915.86 9.285 916.025 8.595 916.355 7.985C916.695 7.375 917.155 6.9 917.735 6.56C918.325 6.22 918.985 6.05 919.715 6.05C920.445 6.05 921.1 6.22 921.68 6.56C922.26 6.9 922.715 7.375 923.045 7.985C923.375 8.585 923.54 9.275 923.54 10.055L923.525 10.385ZM919.715 6.965C918.955 6.965 918.315 7.21 917.795 7.7C917.285 8.18 916.995 8.81 916.925 9.59H922.52C922.45 8.81 922.155 8.18 921.635 7.7C921.125 7.21 920.485 6.965 919.715 6.965ZM932.797 10.385H926.197C926.257 11.205 926.572 11.87 927.142 12.38C927.712 12.88 928.432 13.13 929.302 13.13C929.792 13.13 930.242 13.045 930.652 12.875C931.062 12.695 931.417 12.435 931.717 12.095L932.317 12.785C931.967 13.205 931.527 13.525 930.997 13.745C930.477 13.965 929.902 14.075 929.272 14.075C928.462 14.075 927.742 13.905 927.112 13.565C926.492 13.215 926.007 12.735 925.657 12.125C925.307 11.515 925.132 10.825 925.132 10.055C925.132 9.285 925.297 8.595 925.627 7.985C925.967 7.375 926.427 6.9 927.007 6.56C927.597 6.22 928.257 6.05 928.987 6.05C929.717 6.05 930.372 6.22 930.952 6.56C931.532 6.9 931.987 7.375 932.317 7.985C932.647 8.585 932.812 9.275 932.812 10.055L932.797 10.385ZM928.987 6.965C928.227 6.965 927.587 7.21 927.067 7.7C926.557 8.18 926.267 8.81 926.197 9.59H931.792C931.722 8.81 931.427 8.18 930.907 7.7C930.397 7.21 929.757 6.965 928.987 6.965Z"
                        fill="black" />
                    <line x1="1045.88" y1="78.4863" x2="865.884" y2="35.4863" stroke="black" />
                    <path
                        d="M1058.52 78V106H1049.08V85.12H1044.28V78H1058.52ZM1074.64 106.64C1072.16 106.64 1069.96 106.067 1068.04 104.92C1066.15 103.747 1064.65 102.067 1063.56 99.88C1062.49 97.6667 1061.96 95.04 1061.96 92C1061.96 88.96 1062.49 86.3467 1063.56 84.16C1064.65 81.9467 1066.15 80.2667 1068.04 79.12C1069.96 77.9467 1072.16 77.36 1074.64 77.36C1077.12 77.36 1079.31 77.9467 1081.2 79.12C1083.12 80.2667 1084.61 81.9467 1085.68 84.16C1086.77 86.3467 1087.32 88.96 1087.32 92C1087.32 95.04 1086.77 97.6667 1085.68 99.88C1084.61 102.067 1083.12 103.747 1081.2 104.92C1079.31 106.067 1077.12 106.64 1074.64 106.64ZM1074.64 99.08C1076.77 99.08 1077.84 96.72 1077.84 92C1077.84 87.28 1076.77 84.92 1074.64 84.92C1072.51 84.92 1071.44 87.28 1071.44 92C1071.44 96.72 1072.51 99.08 1074.64 99.08ZM1104.98 89.08C1107.14 89.6133 1108.8 90.5867 1109.94 92C1111.12 93.3867 1111.7 95.0667 1111.7 97.04C1111.7 98.72 1111.24 100.293 1110.3 101.76C1109.4 103.2 1107.98 104.373 1106.06 105.28C1104.14 106.187 1101.76 106.64 1098.9 106.64C1096.93 106.64 1094.96 106.427 1092.98 106C1091.04 105.573 1089.33 104.947 1087.86 104.12L1091.06 97.16C1092.21 97.8267 1093.44 98.3333 1094.74 98.68C1096.08 99.0267 1097.36 99.2 1098.58 99.2C1099.68 99.2 1100.56 99.0133 1101.22 98.64C1101.89 98.2667 1102.22 97.7333 1102.22 97.04C1102.22 95.76 1101.12 95.12 1098.9 95.12H1095.18V89.32L1099.3 85.12H1089.3V78H1110.18V83.8L1104.98 89.08Z"
                        fill="black" />
                    <path
                        d="M997.685 119.5V130H996.59V120.46H989.945V130H988.85V119.5H997.685ZM1007.68 122.11L1003.73 130.945C1003.41 131.685 1003.04 132.21 1002.62 132.52C1002.2 132.83 1001.7 132.985 1001.11 132.985C1000.73 132.985 1000.37 132.925 1000.04 132.805C999.713 132.685 999.428 132.505 999.188 132.265L999.683 131.47C1000.08 131.87 1000.56 132.07 1001.12 132.07C1001.48 132.07 1001.79 131.97 1002.04 131.77C1002.3 131.57 1002.54 131.23 1002.76 130.75L1003.1 129.985L999.578 122.11H1000.69L1003.66 128.815L1006.63 122.11H1007.68ZM1009.34 122.11H1010.4V125.605H1015.37V122.11H1016.43V130H1015.37V126.52H1010.4V130H1009.34V122.11ZM1022.32 126.49H1020.52V130H1019.46V122.11H1020.52V125.575H1022.34L1025.11 122.11H1026.27L1023.16 125.935L1026.49 130H1025.23L1022.32 126.49ZM1033.56 123.055H1030.58V130H1029.51V123.055H1026.53V122.11H1033.56V123.055ZM1037.82 122.05C1038.85 122.05 1039.64 122.31 1040.19 122.83C1040.74 123.34 1041.01 124.1 1041.01 125.11V130H1039.99V128.77C1039.75 129.18 1039.4 129.5 1038.93 129.73C1038.47 129.96 1037.92 130.075 1037.28 130.075C1036.4 130.075 1035.7 129.865 1035.18 129.445C1034.66 129.025 1034.4 128.47 1034.4 127.78C1034.4 127.11 1034.64 126.57 1035.12 126.16C1035.61 125.75 1036.38 125.545 1037.44 125.545H1039.95V125.065C1039.95 124.385 1039.76 123.87 1039.38 123.52C1039 123.16 1038.44 122.98 1037.71 122.98C1037.21 122.98 1036.73 123.065 1036.27 123.235C1035.81 123.395 1035.42 123.62 1035.09 123.91L1034.61 123.115C1035.01 122.775 1035.49 122.515 1036.05 122.335C1036.61 122.145 1037.2 122.05 1037.82 122.05ZM1037.44 129.235C1038.04 129.235 1038.56 129.1 1038.99 128.83C1039.42 128.55 1039.74 128.15 1039.95 127.63V126.34H1037.47C1036.12 126.34 1035.45 126.81 1035.45 127.75C1035.45 128.21 1035.62 128.575 1035.97 128.845C1036.32 129.105 1036.81 129.235 1037.44 129.235ZM1052.8 125.92C1053.87 126.17 1054.4 126.815 1054.4 127.855C1054.4 128.545 1054.15 129.075 1053.64 129.445C1053.13 129.815 1052.37 130 1051.36 130H1047.77V122.11H1051.25C1052.15 122.11 1052.86 122.285 1053.37 122.635C1053.88 122.985 1054.13 123.485 1054.13 124.135C1054.13 124.565 1054.01 124.935 1053.77 125.245C1053.54 125.545 1053.22 125.77 1052.8 125.92ZM1048.81 125.62H1051.18C1051.79 125.62 1052.25 125.505 1052.57 125.275C1052.9 125.045 1053.07 124.71 1053.07 124.27C1053.07 123.83 1052.9 123.5 1052.57 123.28C1052.25 123.06 1051.79 122.95 1051.18 122.95H1048.81V125.62ZM1051.31 129.16C1051.99 129.16 1052.5 129.05 1052.84 128.83C1053.18 128.61 1053.35 128.265 1053.35 127.795C1053.35 127.325 1053.2 126.98 1052.89 126.76C1052.58 126.53 1052.09 126.415 1051.42 126.415H1048.81V129.16H1051.31ZM1060.22 124.9C1061.21 124.91 1061.96 125.13 1062.48 125.56C1063 125.99 1063.26 126.61 1063.26 127.42C1063.26 128.26 1062.98 128.905 1062.42 129.355C1061.86 129.805 1061.06 130.025 1060.02 130.015L1056.9 130V122.11H1057.97V124.87L1060.22 124.9ZM1064.58 122.11H1065.65V130H1064.58V122.11ZM1059.96 129.205C1060.69 129.215 1061.24 129.07 1061.61 128.77C1061.99 128.46 1062.18 128.01 1062.18 127.42C1062.18 126.84 1062 126.41 1061.63 126.13C1061.26 125.85 1060.7 125.705 1059.96 125.695L1057.97 125.665V129.175L1059.96 129.205ZM1076.37 129.07V131.905H1075.37V130H1068.3V131.905H1067.3V129.07H1067.75C1068.28 129.04 1068.64 128.65 1068.83 127.9C1069.02 127.15 1069.15 126.1 1069.22 124.75L1069.32 122.11H1075.14V129.07H1076.37ZM1070.19 124.81C1070.14 125.93 1070.05 126.855 1069.91 127.585C1069.77 128.305 1069.52 128.8 1069.16 129.07H1074.08V123.055H1070.28L1070.19 124.81ZM1081.16 122.05C1082.19 122.05 1082.98 122.31 1083.53 122.83C1084.08 123.34 1084.36 124.1 1084.36 125.11V130H1083.34V128.77C1083.1 129.18 1082.74 129.5 1082.27 129.73C1081.81 129.96 1081.26 130.075 1080.62 130.075C1079.74 130.075 1079.04 129.865 1078.52 129.445C1078 129.025 1077.74 128.47 1077.74 127.78C1077.74 127.11 1077.98 126.57 1078.46 126.16C1078.95 125.75 1079.73 125.545 1080.79 125.545H1083.29V125.065C1083.29 124.385 1083.1 123.87 1082.72 123.52C1082.34 123.16 1081.79 122.98 1081.06 122.98C1080.56 122.98 1080.08 123.065 1079.62 123.235C1079.16 123.395 1078.76 123.62 1078.43 123.91L1077.95 123.115C1078.35 122.775 1078.83 122.515 1079.39 122.335C1079.95 122.145 1080.54 122.05 1081.16 122.05ZM1080.79 129.235C1081.39 129.235 1081.9 129.1 1082.33 128.83C1082.76 128.55 1083.08 128.15 1083.29 127.63V126.34H1080.82C1079.47 126.34 1078.79 126.81 1078.79 127.75C1078.79 128.21 1078.97 128.575 1079.32 128.845C1079.67 129.105 1080.16 129.235 1080.79 129.235ZM1093.15 122.11V130H1092.08V126.715C1091.17 127.115 1090.28 127.315 1089.4 127.315C1088.45 127.315 1087.71 127.1 1087.18 126.67C1086.65 126.23 1086.38 125.575 1086.38 124.705V122.11H1087.45V124.645C1087.45 125.235 1087.64 125.685 1088.02 125.995C1088.4 126.295 1088.92 126.445 1089.59 126.445C1090.33 126.445 1091.16 126.25 1092.08 125.86V122.11H1093.15ZM1096.17 122.11H1097.24V128.38L1102.5 122.11H1103.45V130H1102.38V123.73L1097.13 130H1096.17V122.11ZM1114.27 125.89C1114.83 126.02 1115.26 126.245 1115.56 126.565C1115.87 126.885 1116.02 127.275 1116.02 127.735C1116.02 128.195 1115.86 128.605 1115.54 128.965C1115.23 129.325 1114.81 129.605 1114.27 129.805C1113.73 129.995 1113.13 130.09 1112.48 130.09C1111.91 130.09 1111.35 130.01 1110.8 129.85C1110.25 129.68 1109.77 129.435 1109.36 129.115L1109.72 128.32C1110.08 128.59 1110.5 128.8 1110.98 128.95C1111.46 129.1 1111.95 129.175 1112.44 129.175C1113.17 129.175 1113.76 129.04 1114.22 128.77C1114.69 128.49 1114.93 128.115 1114.93 127.645C1114.93 127.225 1114.74 126.9 1114.36 126.67C1113.98 126.43 1113.46 126.31 1112.8 126.31H1111.45V125.53H1112.74C1113.33 125.53 1113.8 125.42 1114.16 125.2C1114.52 124.97 1114.7 124.665 1114.7 124.285C1114.7 123.865 1114.5 123.535 1114.09 123.295C1113.69 123.055 1113.16 122.935 1112.51 122.935C1111.66 122.935 1110.82 123.15 1109.99 123.58L1109.69 122.755C1110.63 122.265 1111.61 122.02 1112.62 122.02C1113.22 122.02 1113.76 122.11 1114.24 122.29C1114.73 122.46 1115.11 122.705 1115.38 123.025C1115.66 123.345 1115.8 123.715 1115.8 124.135C1115.8 124.535 1115.66 124.89 1115.38 125.2C1115.11 125.51 1114.74 125.74 1114.27 125.89ZM1121.15 122.05C1122.18 122.05 1122.97 122.31 1123.52 122.83C1124.07 123.34 1124.35 124.1 1124.35 125.11V130H1123.33V128.77C1123.09 129.18 1122.73 129.5 1122.26 129.73C1121.8 129.96 1121.25 130.075 1120.61 130.075C1119.73 130.075 1119.03 129.865 1118.51 129.445C1117.99 129.025 1117.73 128.47 1117.73 127.78C1117.73 127.11 1117.97 126.57 1118.45 126.16C1118.94 125.75 1119.72 125.545 1120.78 125.545H1123.28V125.065C1123.28 124.385 1123.09 123.87 1122.71 123.52C1122.33 123.16 1121.78 122.98 1121.05 122.98C1120.55 122.98 1120.07 123.065 1119.61 123.235C1119.15 123.395 1118.75 123.62 1118.42 123.91L1117.94 123.115C1118.34 122.775 1118.82 122.515 1119.38 122.335C1119.94 122.145 1120.53 122.05 1121.15 122.05ZM1120.78 129.235C1121.38 129.235 1121.89 129.1 1122.32 128.83C1122.75 128.55 1123.07 128.15 1123.28 127.63V126.34H1120.81C1119.46 126.34 1118.78 126.81 1118.78 127.75C1118.78 128.21 1118.96 128.575 1119.31 128.845C1119.66 129.105 1120.15 129.235 1120.78 129.235ZM1130.05 126.49H1128.25V130H1127.18V122.11H1128.25V125.575H1130.06L1132.84 122.11H1133.99L1130.89 125.935L1134.22 130H1132.96L1130.05 126.49ZM1138.47 122.05C1139.5 122.05 1140.29 122.31 1140.84 122.83C1141.39 123.34 1141.66 124.1 1141.66 125.11V130H1140.64V128.77C1140.4 129.18 1140.05 129.5 1139.58 129.73C1139.12 129.96 1138.57 130.075 1137.93 130.075C1137.05 130.075 1136.35 129.865 1135.83 129.445C1135.31 129.025 1135.05 128.47 1135.05 127.78C1135.05 127.11 1135.29 126.57 1135.77 126.16C1136.26 125.75 1137.03 125.545 1138.09 125.545H1140.6V125.065C1140.6 124.385 1140.41 123.87 1140.03 123.52C1139.65 123.16 1139.09 122.98 1138.36 122.98C1137.86 122.98 1137.38 123.065 1136.92 123.235C1136.46 123.395 1136.07 123.62 1135.74 123.91L1135.26 123.115C1135.66 122.775 1136.14 122.515 1136.7 122.335C1137.26 122.145 1137.85 122.05 1138.47 122.05ZM1138.09 129.235C1138.69 129.235 1139.21 129.1 1139.64 128.83C1140.07 128.55 1140.39 128.15 1140.6 127.63V126.34H1138.12C1136.77 126.34 1136.1 126.81 1136.1 127.75C1136.1 128.21 1136.27 128.575 1136.62 128.845C1136.97 129.105 1137.46 129.235 1138.09 129.235ZM1148.18 125.89C1148.74 126.02 1149.17 126.245 1149.47 126.565C1149.78 126.885 1149.93 127.275 1149.93 127.735C1149.93 128.195 1149.77 128.605 1149.45 128.965C1149.14 129.325 1148.72 129.605 1148.18 129.805C1147.64 129.995 1147.04 130.09 1146.39 130.09C1145.82 130.09 1145.26 130.01 1144.71 129.85C1144.16 129.68 1143.68 129.435 1143.27 129.115L1143.63 128.32C1143.99 128.59 1144.41 128.8 1144.89 128.95C1145.37 129.1 1145.86 129.175 1146.35 129.175C1147.08 129.175 1147.67 129.04 1148.13 128.77C1148.6 128.49 1148.84 128.115 1148.84 127.645C1148.84 127.225 1148.65 126.9 1148.27 126.67C1147.89 126.43 1147.37 126.31 1146.71 126.31H1145.36V125.53H1146.65C1147.24 125.53 1147.71 125.42 1148.07 125.2C1148.43 124.97 1148.61 124.665 1148.61 124.285C1148.61 123.865 1148.41 123.535 1148 123.295C1147.6 123.055 1147.07 122.935 1146.42 122.935C1145.57 122.935 1144.73 123.15 1143.9 123.58L1143.6 122.755C1144.54 122.265 1145.52 122.02 1146.53 122.02C1147.13 122.02 1147.67 122.11 1148.15 122.29C1148.64 122.46 1149.02 122.705 1149.29 123.025C1149.57 123.345 1149.71 123.715 1149.71 124.135C1149.71 124.535 1149.57 124.89 1149.29 125.2C1149.02 125.51 1148.65 125.74 1148.18 125.89ZM1155.6 130.075C1154.84 130.075 1154.16 129.905 1153.55 129.565C1152.94 129.215 1152.46 128.735 1152.11 128.125C1151.76 127.515 1151.58 126.825 1151.58 126.055C1151.58 125.285 1151.76 124.595 1152.11 123.985C1152.46 123.375 1152.94 122.9 1153.55 122.56C1154.16 122.22 1154.84 122.05 1155.6 122.05C1156.36 122.05 1157.05 122.22 1157.66 122.56C1158.27 122.9 1158.74 123.375 1159.08 123.985C1159.43 124.595 1159.61 125.285 1159.61 126.055C1159.61 126.825 1159.43 127.515 1159.08 128.125C1158.74 128.735 1158.27 129.215 1157.66 129.565C1157.05 129.905 1156.36 130.075 1155.6 130.075ZM1155.6 129.13C1156.16 129.13 1156.66 129.005 1157.1 128.755C1157.55 128.495 1157.9 128.13 1158.15 127.66C1158.4 127.19 1158.53 126.655 1158.53 126.055C1158.53 125.455 1158.4 124.92 1158.15 124.45C1157.9 123.98 1157.55 123.62 1157.1 123.37C1156.66 123.11 1156.16 122.98 1155.6 122.98C1155.04 122.98 1154.54 123.11 1154.09 123.37C1153.65 123.62 1153.3 123.98 1153.04 124.45C1152.79 124.92 1152.66 125.455 1152.66 126.055C1152.66 126.655 1152.79 127.19 1153.04 127.66C1153.3 128.13 1153.65 128.495 1154.09 128.755C1154.54 129.005 1155.04 129.13 1155.6 129.13ZM1166.91 125.92C1167.98 126.17 1168.52 126.815 1168.52 127.855C1168.52 128.545 1168.26 129.075 1167.75 129.445C1167.24 129.815 1166.48 130 1165.47 130H1161.89V122.11H1165.37C1166.27 122.11 1166.97 122.285 1167.48 122.635C1167.99 122.985 1168.25 123.485 1168.25 124.135C1168.25 124.565 1168.13 124.935 1167.89 125.245C1167.66 125.545 1167.33 125.77 1166.91 125.92ZM1162.92 125.62H1165.29C1165.9 125.62 1166.37 125.505 1166.69 125.275C1167.02 125.045 1167.18 124.71 1167.18 124.27C1167.18 123.83 1167.02 123.5 1166.69 123.28C1166.37 123.06 1165.9 122.95 1165.29 122.95H1162.92V125.62ZM1165.43 129.16C1166.11 129.16 1166.62 129.05 1166.96 128.83C1167.3 128.61 1167.47 128.265 1167.47 127.795C1167.47 127.325 1167.31 126.98 1167 126.76C1166.69 126.53 1166.2 126.415 1165.53 126.415H1162.92V129.16H1165.43Z"
                        fill="black" />
                </svg>
        </article>

    </main>
    </body>
</html>
